[2015-08-19 17:15] mbj commented on #422
Using `.const_get` IMO only makes sense when the constant name is dynamically computed. In all cases where a constant name is given literally almost always, unless you reflect private constants for documentation generation proposes, the literal form (example `self.class::ADMIN_ROLE`) is to prefer.

And yes, I think we could turn this into a mutation. One that is triggered when the argument to cons

[2015-08-19 17:19] tjchambers commented on #422
@mbj Thanks, I will settle with the ::LITERAL usage in my code.

[2015-08-19 17:22] tjchambers commented on #422
I would add that mutating self.class::LITERAL to LITERAL would be a nice test in places in my code!

[2015-08-19 17:27] mbj commented on #422
@tjchambers This is already being done: https://github.com/mbj/mutant/blob/master/meta/const.rb

[2015-08-19 17:29] tjchambers commented on #422
I seem to recall having this conversation before, but I also feel like self.class::LITERAL is not mutating in my code. I will have to find an example to confirm or deny that statement! Thanks.

[2015-08-19 19:18] #108 closed

[2015-08-19 20:48] backus commented on #181
Working on this now.  Would have the same effect and be easier to implement if the mutation `def foo(*args); args = []; end`

[2015-08-19 21:01] mbj commented on #181
Make sure you keep the body intact!

[2015-08-19 21:02] mbj commented on #181
@backus ^^ I changed the title to actually reference valid ruby syntax. This ticket was made in a rush.

[2015-08-19 21:07] backus commented on #181
Of course. My point was just that `restarg` doesn't need to drop the name.

[2015-08-19 22:03] backus commented on #421
I have a branch with failing specs for this issue here: [backus/mutant:fix/or-asgn-rhs-blindspot](https://github.com/backus/mutant/blob/fix/or-asgn-rhs-blindspot).  The implicit self is not emitted because of the condition here: [lib/mutant/mutator/node/send.rb#L161](https://github.com/backus/mutant/blob/fix/or-asgn-rhs-blindspot/lib/mutant/mutator/node/send.rb#L161)

[2015-08-19 22:10] backus commented on #421
I'm not exactly sure why `OP_ASSIGN`s were excluded, but the commit introducing the condition mentions generating invalid ASTs: https://github.com/mbj/mutant/commit/3d94003616cfbca9e1d81bb047fbd19c0d9c217e.  Specs still pass dropping the condition, so I can open a PR with these changes if that makes sense @mbj

[2015-08-19 22:14] tjchambers opened #424 "Mutation of Ruby idiom for including class methods - how to kill"
I have code below which I copied and I believed it was idiomatic Ruby style for adding class methods to a class:

[code]

However I am getting mutations of this self.included which when I try them myself cause failures in my tests due to the class methods (such as *roles*) not being defined:

[code]

I am sure it is something stupid that I do not understand here, as I would have thought any of the

[2015-08-19 22:19] mbj commented on #421
@backus The guard is to restrictive. But includes a prevention for invalid ASTs in another case. Simply remove that guard and see specs failing to see those cases.

[2015-08-19 22:19] mbj commented on #421
The solution is to be more precise in guarding against invalid AST.

[2015-08-19 22:36] backus commented on #421
Removed the guard and specs passed when I ran them on my fork: https://circleci.com/gh/backus/mutant/2

[2015-08-19 22:38] mbj commented on #421
could also be another leftover from before the state we switched the "tricky" sends into dedicated sub-classes.

[2015-08-19 22:42] backus commented on #421
Opened a PR if you want to take a look

[2015-08-19 22:44] mbj commented on #421
Thx. But I'm too busy for today and probably the next days. Sorry for that.

[2015-08-19 22:44] mbj commented on #421
@backus I'm very happy your contribution activities exceed my OSS budget, even when I dedicate it to reviews :P

[2015-08-19 22:47] backus commented on #421
:smile: I'll slow down a lot once my vacation is over.  Always happy to help when I'm free though.

[2015-08-19 22:48] mbj commented on #421
@backus I do not ask you to slow down. Just to accept low quality comments of mine, and very late reviews :P

[2015-08-19 22:50] backus commented on #421
Yup I understand. You do a good job maintaining mutant I have no complaints

[2015-08-20 02:50] backus opened #429 "Class/Module mutator?"
I'd like to implement #17 and in order to do so I'm thinking we need a mutator class for `Class` and `Module`.  Any reason this doesn't exist currently / any opposition to adding it?

[2015-08-20 16:34] tjchambers opened #431 "Policy on cascading mutations"
Given I have a legitimate mutation:

[code]

and it is the last mutation I need to kill. If however I change aop -> self as this mutation suggests I can/should, then when I re-test my inference (based on what I expect) is I should get the following mutation:

[code]

recommending I drop the self reference altogether.

It occurs to me that in truth they both should be recommended at the same time,

[2015-08-20 17:44] tjchambers commented on #370
Wanted to add a couple wishlist items to the machine readable output at the method level.

- Number of mutations by method. This shows on the interactive display when run in console, but is not (AFAICT) anywhere in the logging when I redirect to a file. It is useful for metrics purposes, as I see it as a useful complexity measure.

- Indicator whether a method has targeted specs. It would be usefu

[2015-08-20 19:24] kbrock commented on #370
This is a little out there, but what about using sqlite as a report format?

You can write pretty darn quickly to the format and it can be parsed in most languages, as most ruby devs know sql a little.

It makes correlating duplicates (multiple messages per method line) pretty easy. Maybe even correlating across multiple runs.

Got this idea because mongrel2 stores their config files in sqlite. At

[2015-08-20 19:25] kbrock commented on #370
Is the goal to produce a log file that other systems can use out of the box?
Or is the thought that the log will be internally focused, with log adapters to produce what ever a CI system would want?

[2015-08-20 19:29] mbj commented on #370
Both. First a mutant secific format. Than information reducing aggregates, to plug into existing ecosystems.

[2015-08-20 19:40] tjchambers commented on #370
I could be way off base, but using a database would not be the best when running mutant distributed across multiple systems for me - at least I don't think so. It would be easier to take the mutant machine readable (an hopefully human readable) output and post it to a queue to be accumulated.

[2015-08-21 18:04] mbj commented on #429
@backus I think that the public / private visibility mutations for instance and singleton methods are best done as part of the `Mutant::Subject::Method` classes.

[2015-08-21 23:00] backus commented on #429
Ah alright.  I wasn't sure if the `Mutator` namespace is / is supposed to be fully decoupled from things like `Subject::Method`.

[2015-08-21 23:20] mbj commented on #429
@backus The visibility cannot be seen from the AST nodes. I'm fine to inject some "special" not very AST specific mutations from the subjects.

[2015-08-25 03:46] backus opened #432 "Add mutation `Date.parse` → `Date.iso8601`"
`Date.parse` is extremely liberal with what it will try to parse:

[code]

and it exposes a lot of more conservative parsing methods: `[:jd, :civil, :strptime, :iso8601, :rfc3339, :xmlschema, :rfc2822, :rfc822, :httpdate, :jisx0301]`

[2015-08-25 11:40] mbj commented on #432
@backus, good idea. I think we need to mutate to each of the specialized parsers. If you *really* wanna use `Date.parse` you should be able to provide inputs for supersets of the specific parsing cases.

[2015-08-25 16:07] mbj opened #433 "Drop support for ruby 2.2"
My last commercial project that ran on 2.1 is about to migrate to 2.2 any moment. I do not have any real reason to maintain 2.1 compatibility anymore.

[2015-08-25 16:17] dkubb commented on #433
@mbj did you mean to have this issue read "2.1"?

[2015-08-25 16:22] mbj commented on #433
Fixed thx.

[2015-08-27 13:03] nepalez opened #434 "Possible bug in mutant unparser"
Hi!

Seems like there is a bug in mutant unparser.

It takes the method

[code]

The result is expected to be `../rom/cassandra/migrations/generator/migration.erb` (and spec passes).

But mutant unparses this it into:

[code]

With error:

[code]

As you can see its works as if instead of:

[code]

there were:

[code]

[2015-08-27 15:06] mbj commented on #434
Thx for the report. All hail to noop/neutral mutation self tests!

[2015-09-01 15:29] #422 closed

[2015-09-01 16:10] backus commented on #223
Looks like I typo'd the issue number in the commits related to this.  Just for the sake of keeping github issues and commits  linked:

* commit: https://github.com/backus/mutant/commit/2f53ef0d01b0e86ecc0c634344711ad24265aa38
* PR: https://github.com/mbj/mutant/pull/430
* Revert PR: https://github.com/mbj/mutant/pull/437

[2015-09-02 14:05] tjchambers opened #438 "Feature request - worker context information"
When running mutant in concurrent mode (multiple workers) it is sometimes useful to insulate the workers activities from each other in accessing resources. Examples:

- Distinct in memory caches
- Separate databases to prevent deadlock and rollback to savepoint conflicts
- Distinct temporary directories

Many of these can be handled internally by application of the worker's process id in resource

[2015-09-07 19:33] tjchambers opened #440 "Feature Request - worker deprioritization"
Mutant at present makes no attempt to adjust the priorities of the worker processes. When running a concurrent run with maximum cores this can result in the interactive responsiveness on same machine being quite sluggish.

It would be desirable to either have an option for user control of the priorities assigned to the workers in order to raise or lower them, or have the default priorities of the

[2015-09-08 14:01] #421 closed

[2015-09-08 14:02] #270 closed

[2015-09-08 16:09] #181 closed

[2015-09-08 16:37] #271 closed

[2015-09-08 16:59] mbj commented on #424
@tjchambers the key is to make the effect of the `.included` hooks and friends to happen also at "spec time", not only at boot time.

I just killed a set of mutations in mutant, see https://github.com/mbj/mutant/commit/a3080a43614c7e9b147c9352a1faab6611a3d814.

I'm using an anonymous class, mixing in the module, triggering the hook, and observing the effect from spec time, not only boot time.

The

[2015-09-08 16:59] #424 closed

[2015-09-10 16:58] dkubb opened #441 "Change --since to ignore whitespace differences"
Currently if you change the whitespace in a code, like fixing indentation, mutant with `--since` will consider that code modified and force you to mutation test it. I think this is outside of the spirit of the original intentions for the flag, and whitespace differences should be ignored.

The `git log` command supports the `--ignore-all-space` flag, which when added to `Mutant::Repository` method

[2015-09-10 17:00] mbj commented on #441
Yes. Agreed. The proposed `--ignore-all-space` flag is the most "low tech" solution to the problem.

an alternative is to actually make sure the AST of the subject was changed.

[2015-09-14 08:37] nepalez opened #443 "Infinite loop after `break` mutation"
Hi, Markus!

Is there any possibility to prevent mutation (exclusion) of `break` statement?

Seems like mutant does it in the code below, and then falls into infinite loop:

[code]

[2015-09-14 08:50] nepalez commented on #443
Hmm, maybe this is a problem of my ruby settings :(

[2015-09-14 11:41] mbj commented on #443
Intentionally not.

Correct. Under the assuption `fetch` does always return new tuples.

But there are multiple ways to kill this mutation, in order of preference descending:

* Assert `#fetch` does only get call a certain amount of times (maybe inject the data source)
* Set a timeout to kill the infinite mutations from specs
* Ignore this specific subject

I'm happy to show you how to apply espec

[2015-09-14 13:56] nepalez commented on #443
Thank you for the proposal!

The repository is [here](https://github.com/nepalez/rom-kafka).
This is [the line of code](https://github.com/nepalez/rom-kafka/blob/master/lib/rom/kafka/connection/consumer.rb#L92), where 2 looped mutation occurs. And [here is the coverage](https://github.com/nepalez/rom-kafka/blob/master/spec/unit/connection/consumer_spec.rb#L77-L78).

When I manually kill those 2 ev

[2015-09-14 14:47] nepalez commented on #443
After reading [this old thread](https://github.com/mbj/mutant/issues/265), I set timeout to `0.5` and all mutations were killed (under MRI 2.1.5).

[2015-09-14 15:01] mbj commented on #443
@nepalez Another option, and IMO one to prefer before going into time based killing: Is to provide an object that raises when `#fetch` is called more than 3 times.

Message expectation counts by rspec only get asserted AFTER the code under test finished.

If you are still interested in me killing the mutation say so. Or can we close this issue?

[2015-09-14 15:05] nepalez commented on #443
Ahh, thanks, this option is interesting as well. I'll try it.

[2015-09-14 15:05] #443 closed

[2015-09-14 15:06] mbj commented on #443
k, cool.

Rule of thump: look for observable behavior changes by a mutation. In a highly mutable language like ruby there are plenty.

[2015-09-14 16:19] nepalez commented on #443
Well, I change it to raise an exception when excessive step is done. (And removed timeout, because you're right - it is sort of magics, too context-dependent).

It doesn't solved the case totally. 1 mutation still cause an infinite loop. I was wondered and look at it. This mutation simply deletes ALL the content of the loop block :) and left this chunk of code:

[code]

It seems there is no way to

[2015-09-14 16:23] mbj commented on #443
[code]
That one can only be killed via the timeout. I think its easy to filter it out. Since a content less infinite loop almost never makes sense, and its very uneasy to catch by tests.

Do you mind to create an issue for guarding against that one? Its a 1loc change to mutant, but I'll probably forget to do it unless there is an issue.

Postcontrol loops are actually not that bad IMO. Using an in

[2015-09-14 16:38] nepalez opened #444 "Add guard against mutation providing `loop do; end`"
With [reference to this discussion](https://github.com/mbj/mutant/issues/443#issuecomment-140130642)

[2015-09-22 07:26] plexus commented on #92
I'm guessing https://github.com/ahawkins/mutant/tree/minitest is the branch being referred to.

[2015-09-22 11:54] mbj commented on #92
@plexus In meanwhile there is a much more maintained one by me, that lacks people testing it: https://github.com/kbrock/mutant/tree/minitest this branch is "far less stale" than the one you are referencing.

@kbrock With your agreement I'd move this branch to my repo + create a PR to give it more visibility.

[2015-09-22 12:22] kbrock commented on #92
:+1:

[2015-09-23 10:22] plexus commented on #92
Awesome!

[2015-09-30 07:39] dogweather opened #447 "Mutating #to_i to #to_int seems odd"
I have this report of a successful found mutant:

[code]

I'm not really sure what to make of this; my first thought is that this isn't a mutation which should be run. (?)

[2015-09-30 12:39] mbj commented on #447
Mutation operators in ruby are derived from 2 core axioms:

* Orthogonal replacment
* Reduction of semantics

This one is derived from the reduction of semantics one .`#to_i` includes `#to_int` by definition. But not vice versa.

* `#to_i` is for objects that have a unique (maybe injective) representation as Integer.
* `#to_int` is for objects that have are effectively an Integer

So `#to_int` is

[2015-09-30 19:14] dogweather commented on #447
Very very interesting. I'll need to think about this!

[2015-09-30 19:36] mbj commented on #447
@dogweather There are many other inhabitants of the reduction operators. `#==` to `#eql?` to `#equal?` etc. `a; b` => `a`. Feel free to post the results of your thoughts here. I like my assumptions challenged.

[2015-09-30 19:45] dogweather commented on #447
Is it possible that this philosophy conflicts with the Ruby API design & style? Not a bad thing per se. I understand you to be saying that (e.g.) `#to_int` has a smaller input domain, yet it can still pass the test. Therefore, it should be prefered over `#to_i`.

This seems to conflict with the intent of `#to_int`, `#to_str`, and others: they serve as [duck type markers](http://www.rubyfleebie.com

[2015-10-09 12:49] mbj commented on #447
@dogweather For many classes `#to_i` and `#to_int` are identical, especially in the corelib.

But there are many classes that implement to `#to_i` that do not implement `#to_int`. Example `String`. Mutants mutation operators are based on two axioms, the more important one is:

* Always mutate to least powerful version of the code.

Where the use of a more narrow object interface (`#to_int`, '#to_s

[2015-10-09 12:56] mbj commented on #447
And BTW: I agree that `#round` is the much better API usage. That floats implement `#to_int` is IMO plain wrong.

[2015-10-10 23:57] tjchambers opened #449 "Advice on mutations of .freeze"
I took a look at mutant source code to see how mutant source itself uses .freeze/IceNine internally. AFAICT it is only freezing static text. And IceNine for more complex CONSTANTS.

In my code I have been using freezing for a couple elements:

1) TO reduce unnecessary object creation - especially at low levels internally
2) As one defensive technique to keep complex data structures that are concep

[2015-10-11 12:18] #432 closed

[2015-10-11 12:31] mbj commented on #449
We use an indirect strategy to archive case 2:

* we avoid to create complex datastructures from primitives, AKA the typical Hash / Array "spaghetti". If there is a case where we have a case, like parsing JSON. We only use discipline to call `IceNine.deep_freeze(parse_pagetti(input))`. Or in other cases the parser is specified to produce immutable datastructures by default.
* When building domain

[2015-10-11 12:41] mbj commented on #449
@tjchambers Please close this issue when you think you got your answer.

[2015-10-11 17:10] tjchambers commented on #449
@mbj Thanks for these insights - I find them valuable. Let me consider them as they may elicit more questions.

[2015-10-11 21:18] tjchambers commented on #449
In looking at the mutant code re: use of `.deep_freeze` it is used during constant creation rather than inline in methods, which side steps the mutant alterations I am experiencing during it's application in my style. Just a comment that in my case it logically creates an alive mutant. That is one aspect I am trying to overcome. 'IceNine.deep_freeze(nil)` does not raise errors. Not suggesting it s

[2015-10-13 23:09] tjchambers opened #450 "Advice: external file name string mutations"
Again I come looking for advice. In some of my code I am constructing in private methods a file path string. Sometimes these are for temporary files, sometimes logging files, and as well sometimes for Amazon S3 locations (also buckets are named dynamically).

When this code is mutated as I would expect these strings are mutated. When these files are then created and written to, the files are creat

[2015-10-16 21:52] backus opened #451 "Add mutation `foo.to_i` → `Integer(foo)`"
[code]

[2015-10-16 21:59] mbj opened #452 "Add mutation from `@foo` to `foo` (private send)"

[2015-10-16 22:48] dogweather commented on #451
:+1:

[2015-10-16 22:52] dkubb commented on #452
:+1: I can't believe we missed this one.

[2015-10-17 02:54] tjchambers commented on #452
This sounds like a step in the wrong direction. How do you kill this type of mutation if you are using Concord and want to minimize the complexity of your code? Using a method instead of a variable has a performance penalty and is considered another branch in ABC terminology - it is another method call.

It seems this is not to be *encouraged* by making it a mutation.

[2015-10-17 08:53] tjchambers opened #453 "Add mutation from `foo ||= bar` to `foo = bar || foo`"
This mutation would have helped me locate a short circuit issue that individual unit tests did not surface:

[code]

or

[code]

if add(x) is called then subsequently remove(x) (or vice versa) the short_circuit caused the second execution to fail. I could not find this mutation in the current code. Testing either add(x) or remove(x) individually would not be an effective spec to surface an issue.

[2015-10-17 11:23] mbj commented on #452
Honestly. I do not care about performance in Ruby if you switch a typical program away from private gettters to ivars you'll not see a measurable effect.

Maybe in a loop body after benchmarking it makes a difference. To me using a raw ivars is an optimization I use optionally, not per default.

Also I do not care about ABC metrics more than about correctness.

Using a private getter method has on

[2015-10-17 12:38] tjchambers commented on #452
As always you make good sound points.

If I want to use ivars I should NOT be using Concord gem (IMO) because it is doing more than I desire.

My preference is to be aware when I look at code whether I am using a method or an ivar. It seems I cannot have both in Ruby.

Therefore I do support this mutation.

[2015-10-17 12:40] tjchambers commented on #453
I assumed (which may not be the case) that mutant already does `foo || bar` -> `bar || foo` and more importantly perhaps `foo && bar` -> `bar && foo` mutations.

[2015-10-17 14:56] mbj commented on #452
@tjchambers If no private getter exist (aka mutant is not used), mutant will not show the mutation as alive.

[2015-10-18 00:07] tjchambers commented on #452
My inference is you meant aka if Concord is not used?

[2015-10-18 00:08] mbj commented on #452
@tjchambers Concord just produces (by default) a private getter. You can have that one without concord involved. I just corrected my post above to be correct. Sorry for the typo.

[2015-10-18 20:16] dogweather commented on #453
This library is a little new to me. What category of transformation would this be? I see that it would have exposed the logic error in your code, but how is it more generally applicable?

[2015-10-18 20:57] dkubb commented on #453
@tjchambers Would it have helped if expressions that are just syntactic sugar were expanded first, then mutated:

[code]

Would become:

[code]

Then that would be mutated in the different ways that mutant does, including negating `@foo` and `@bar`, replacing each with `nil`, and so on.

[2015-10-18 22:49] mbj commented on #453
@dkubb JFYI: `a ||= b` is NOT syntactic sugar for `a = a || bar`. At least not in all cases.

If `a` is an lvar / ivar / gvar your statement is true. If `a` is an attribute its not true. Since it would trigger an attribute read and an attribute write separately:

[code]

prints:

[code]

[2015-10-18 22:50] mbj commented on #453
BTW Above inorthogonality is the reason rubies parser has separate nodes for all op assigns.

[2015-10-19 00:56] dkubb commented on #453
@mbj so it's more like:

[code]

[2015-10-19 06:05] mbj commented on #453
Yes.

[2015-10-19 06:18] #451 closed

[2015-10-20 23:14] backus opened #456 "Add mutation `Hash#[]` → `Hash#key?`"
Reasoning being that

[code]

is preferable compared to

[code]

[2015-10-20 23:16] backus opened #457 "Add mutation `Hash#fetch` → `Hash#key?`"
Same reasoning as #456

[2015-10-20 23:18] tjchambers commented on #456
@backus In the non-prefereable you are testing both the key and the resultant value, whereas in the *preferred version* aren't you just testing the key exists? Forgive me if mistaken.

[2015-10-20 23:22] backus commented on #456
Yes, that is a possible use case of the second example.  Often though the second example is used as a key check since the missing key lookup returns nil.  If your condition is on the *value* of the hash value then a preferable conditional might be `if options[:settings].eql?('foo')`

[2015-10-20 23:23] mbj commented on #456
And if you know the value is present do: `if options.fetch(:settings).eql?('foo')`

[2015-10-21 14:09] mbj opened #458 "Stream mutations into mainloop to avoid pre-generation delay"
Normally the pre-generation of mutant finishes in < 2seconds. So to reduce complexity it was decided (by me) we kill the streaming infrastructure. This also enables to report the amount of mutations to kill early.

Now @computas-fvl has a use case for testing mutant against a 26kloc method, here pre-generation takes too long.

Turning the pre-generation into streaming is easy, as the concurrency p

[2015-10-21 21:23] tjchambers opened #459 "module_function handling in mutant is on instance"
Wanted to make note that if module_function is specified in a module, that the specifications in corresponding spec files must use '#bar' and not '.bar':

[code]

as the methods have to kill the mutations on the instance where they are defined rather than on the singleton where the module_function places the aliases.

[2015-10-22 12:41] mbj opened #460 "Add a mutation from conditional `&.` to `.` non conditional send operator."
Ruby is about to get a conditional method send operator `&.` that only dispatches when the receiver is non nil.

This is redundant if the receiver always evaluates to non nil, so a semantic reduction mutation should be added as soon there is a [parser](https://github.com/whitequark/parser) gem release with this issue fixed: https://github.com/whitequark/parser/issues/209

[2015-10-23 22:20] mbj opened #461 "Change `--since` to cover subjects that are dirty in the working tree"
These also had been changed _since_ the reference version.

[2015-10-23 22:22] mbj commented on #449
@tjchambers Can we close this issue?

[2015-10-23 22:23] mbj commented on #411
I'll close this issue for inactivity, and non reproducability in my environemnt.

@tjchambers If you have new information, feel free to re-open this issue.

[2015-10-23 22:23] #411 closed

[2015-10-23 22:50] mbj opened #462 "Add report about tests that where NOT selected as potential mutation killers"
These would help to detect typos in the test integration metadata.

[2015-10-23 22:54] #449 closed

[2015-10-23 22:55] tjchambers commented on #411
I have seen it - including some cases where it is beyond the initial job size, but closing it is prudent until I can get something to reproduce.

[2015-10-23 22:56] mbj commented on #411
Yeah, the issue tracker should be for "eligible to work on issues".

[2015-10-23 22:56] mbj commented on #368
@tjchambers Is this still a problem? If not, lets close this issue!

[2015-10-23 22:58] mbj commented on #394
@tjchambers Shared examples included in a context just, from mutant point of view create new tests. Mutant does not "see" them so does not need to add explicit support for them.

Its likely that your change just made the "generated by example inclusion" selectable as their metadata now was correct.

For now I'll close this issue. If you think my conclusion is wrong, please reopen.

[2015-10-23 22:58] #394 closed

[2015-10-23 22:59] mbj commented on #429
@backus I think we can close this question, as I think it was answered. If you disagree feel free to reopen and expand your question.

[2015-10-23 22:59] #429 closed

[2015-10-23 23:02] tjchambers commented on #394
I think your conclusion is correct because that seemed to match mine after alteration.

[2015-10-23 23:02] mbj commented on #450
@tjchambers My advice is to abstract out the file system.

Wrapping all the various ways ruby allows to talk with the outside world in an object that supports the domain specific subset you need.

This way you can switch your application to a mock implementation on testing, without having to fear mutation testing leaves stale state in your file system. The mutation testing leaked state will go awa

[2015-10-23 23:02] #450 closed

[2015-10-23 23:04] mbj commented on #368
@tjchambers I just realized you have a debug repository attached, I'll find some time and re-test your scenario. Sorry this takes so long and this issue was forgotten by me.

I do not have much OSS time these days.

[2015-10-23 23:05] mbj commented on #392
I did not forgot the issue, but I did not had a pure OSS cycle for month. Just a heads up I still plan to look into this reporoduction.

[2015-10-23 23:08] tjchambers commented on #368
Let me re-validate the issue. I took a quick look at recent logs for the same situation and I am not seeing this issue represented in the log. So I will take my time to revalidate and close or indicate it is reproducible.

[2015-10-23 23:12] mbj commented on #431
@tjchambers In summary you: Just followed the workflow to discover a higher order mutation. For many operators I emit these already in a single pass, mostly in cases where higher order mutations do NOT lead to exponential increase in mutations.

I'll change the issue of this title to reflect the request to emit the higher order mutant on the first pass, but need to evaluate if thats practical for

[2015-10-23 23:15] mbj commented on #410
In general: I'm a bit reluctant to add rails specific mutations. I always wanted mutant to be generic.

Specific to this mutation: I think its a bad idea. Because the proposed mutation would change the type of the expression very drastically. And `Array` instances are not a clean semantic reduction from `Relation` instances.

They have a huge API intersect, but its disjunctive.

I'll close this is

[2015-10-23 23:15] #410 closed

[2015-10-23 23:18] mbj commented on #97
Actually mutant does silencing of warnings already for several releases. Closing this issue.

[2015-10-23 23:18] #97 closed

[2015-10-23 23:19] tjchambers commented on #410
I know of your love for Rails :).

I do believe that choosing NOT to add this mutation IS the correct option for all my reasons above. Just wanted to have open discussion about it.

[2015-10-27 11:39] mbj opened #464 "Add mutation from `foo()` to `foo`."
Mutating private method send into local variable reads.

Mutant should know the local variable scope and only emit this mutation when the local variable is in scope.

[2015-10-27 11:42] mbj opened #465 "Add mutation from `@foo` to `foo` (lvar read)"
Should only be emitted when lvar is actually in scope. Can be determined statically.

Adjacent to #464

[2015-10-27 11:48] #452 closed

[2015-10-29 16:39] nathanl opened #467 "Demo: mutant wrongly thinks it can mutate a dynamically-defined method"
I saw some weird behavior from Mutant and created this minimal "gem" to show it: https://github.com/nathanl/mutant_test_case

The README explains how to reproduce the failure.

[2015-10-29 16:44] nathanl commented on #467
P.S. Mutant is neat! Thanks for making it. :smile:

[2015-10-29 18:03] mbj commented on #467
@nathanl Thx for this report (and the fact its executable!). And as a nitpick to your very close to flawless issue report, you *could* have had included the mutant output. Reducing the overhead even more for me.

Normally mutant should NOT select the dynamically generated methods as eligible for mutation testing. Since these have a `nil` `#source_location`. Or they are defined within a lambda.

I'

[2015-10-29 18:03] mbj commented on #467
Thx. The reason is just selfish: I need it to write decent ruby code for my clients.

[2015-10-29 19:05] nathanl commented on #467
@mbj Happy to give it! See below.

In my case, the `.method(:method_name).source_location)` actually is not nil. In the example I linked, I'm calling a non-dynamic method that then calls `define_method`, and the `source_location` call points back to the contents of the non-dynamic method.

For context, the actual use case I have is here: https://github.com/nathanl/searchlight/blob/v4.1.0/lib/searc

[2015-10-29 19:06] mbj commented on #467
I now understand your problem. Its easy to solve, I'll PR a solution to your repo as code is better in describing the issue.

[2015-10-29 19:07] nathanl commented on #467
Yes, but you don't have to answer issues from random strangers. :)

[2015-10-29 19:08] mbj commented on #467
These questions likely help to expose bugs I'd not have found otherwise. And all bugs I fix are bugs I do not have to painfully find later causing much more harm.

[2015-10-29 19:23] mbj commented on #467
@nathanl Actually it turns out its easier to explain:

Mutant does "run time mutations". AKA mutations are injected as dynamically generated monkey patches *after* (and this is important:) the library under test was loaded.

This is one of the key reasons mutant is fast. Since killing a mutation does only involve adding the monkeypatch to the already booted VM state and running rspec.

Instead whe

[2015-10-29 19:23] mbj commented on #467
@nathanl This needs to be documented. But as I answered your question: I'll close it now.

[2015-10-29 19:23] #467 closed

[2015-10-31 18:18] mbj opened #472 "Replace literal with literal.freeze"
This might upset people outside the core mutant user group.

But it'll expose cases where a literal is intend not to be mutated but not marked (via freeze) that way.

[2015-10-31 18:58] tjchambers commented on #472
Seems appropriate test for next version of Ruby as well.

[2015-10-31 19:00] tjchambers commented on #472
I presume you will have a way of turning that off once Ruby freezes strings by default?

[2015-10-31 19:03] tjchambers commented on #472
Will this include [].freeze and {}.freeze? I would be quite interested in that mutation.

[2015-10-31 19:35] mbj commented on #472
Yes these are literals.

[2015-10-31 19:37] mbj commented on #472
And another thought pro this mutation:

Mutant is about to reduce unused semantics in the code. If mutability of a build-in datastructure is seen as a "feature that is by default turned on, but likely unused", it should be reduced.

[2015-10-31 19:41] tjchambers commented on #472
I guess my concern is the effort to add .freeze to literal strings now to kill mutations, when the strings will be frozen AFAIK in Ruby 3 by default.

[2015-10-31 19:42] mbj commented on #472
In that case we'll remove the mutation from literal strings and mutant shows you `"".freeze` is equivalent to `""` and forces you to write `""` again.

In the meantime you avoid bugs in your program, introduced by unintentionally mutating things.

[2015-10-31 19:42] tjchambers commented on #472
In my case I have a lot of literal strings which are inline in code for internationalization.

[code]

[2015-10-31 19:43] mbj commented on #472
Would it be a bug if some library mutates the `'class_title'` ?

[2015-10-31 19:44] mbj commented on #472
You can alwas whitelist these via rspec:

[code]

[2015-10-31 19:45] mbj commented on #472
Maybe this is also finally a case where I'd support adding conditionally disabling a mutation operator.

[2015-10-31 19:45] tjchambers commented on #472
Yes it would be a bug, but one that would not encourage me to add .freeze to hundreds of them with Ruby 3 under development.

[2015-10-31 19:46] mbj commented on #472
You can use a global before hook to whitelist all interactions with `I18n.t`.

[2015-10-31 19:46] mbj commented on #472
*whitelist for accepting non frozen strings I mean.

[2015-10-31 19:48] tjchambers commented on #472
Still wrapping my head around that, but if I understand your code above, I would be telling rspec to expect that the I18n.t string is NEVER frozen, and if it gets frozen during a mutation that is considered a fail of the spec.

[2015-10-31 19:49] mbj commented on #472
Yes. It would essentailly make sure this mutation would never be an alive when used with `I18n.t`. Where at other places we get the benefit.

[2015-10-31 19:50] tjchambers commented on #472
I think that is a very good approach given MY code. Not sure how universal that would appeal.

[2015-10-31 19:51] mbj commented on #472
I think we want to start with freezing array and hash literals. Here its very unlikely the amount of call sides to fix is overwhelming.

[2015-10-31 19:52] tjchambers commented on #472
@mbj - for me the freezing of array and hashes are going to be very helpful in focusing bugs. I have started to uses constants for the ones I deem frozen by default and it has been beneficial.

[2015-10-31 19:53] mbj commented on #472
Maybe we can even start with freezing empty hash and array literals.

[2015-10-31 19:54] tjchambers commented on #472
I think freezing empty strings as well is for me also valuable because if they are frozen and then never modified it could be a spec gap.

[2015-10-31 19:55] mbj commented on #472
I think freezing "any empty literal" is the way to start this.

[2015-10-31 19:55] tjchambers commented on #472
I concur with that.

[2015-10-31 22:12] tjchambers commented on #472
[code]

appears not to be valid syntax according to @myronmarston
https://github.com/rspec/rspec-mocks/issues/774

myronmarston commented on Sep 2, 2014
The warning is perhaps a bit cryptic and poorly written, but it is accurate. It's happening because you are combining a block implementation (your block with expect(env['foo.bar']).to eq 42) and and_call_original. **and_call_original can't be used

[2015-10-31 22:17] mbj commented on #472
My code example was not meant to be 1:1 copy & pastable. Sorry for not labeling it as untested proactively.

I think you could get around this limitation via monkey patching `I18n.t` via a module prepend that raises in case the string is frozen.

As we reduced this ticket to only cover empty literalls this discussion is even partially redundant ;)

[2015-10-31 22:21] tjchambers commented on #472
I didn't expect such a rapid snippet of code to be tested at all. Amazing how fast you came up with it. :)

That's why I tested it in my environment. Wanted to capture that it was not working in RSpec context. I would however like something similar for other purposes, so I am exploring options. Wanted to capture that the above code was not usable as is in this thread as well.

It is irrelevant whi

[2015-11-03 09:31] timoschilling opened #476 "problems with 'Class*' in zsh"
`mutant --include lib --require virtus --use rspec Virtus*` don't work in zsh, it results in `zsh: no matches found: Virtus*`

[2015-11-03 12:29] mbj commented on #476
@timoschilling Quote it: `'Virtus*'`.

This is a "how do I get my shell represent the correct arguments when executing a program" problem. Not related to mutant at all. Closing.

[2015-11-03 12:29] #476 closed

[2015-11-03 22:20] tjchambers commented on #472
FYI here is what I came up with to define expectations of parameters to I18n.t that does the job for me:

[code]

I put that in my rails_helper config section in a ```before(:each)``` block. Does what I needed.

[2015-11-05 16:31] tjchambers commented on #395
My process of code improvement involves the following:

- Detect a code issue or smell (either by observation or bug-driven)
- See if it is a single case or a pattern of (mis)behavior by looking for the pattern everywhere
- If it is a pattern and s/b corrected then do the correction as a complete task
- Note the behavior to avoid in future

This is where mutant comes in to help. If I find that mut

[2015-11-05 17:03] dkubb commented on #395
@tjchambers Even if mutant doesn't label each mutation I think we should still define a common set of names to represent each class of mutation. It would give us a common language in which to discuss future mutations rather than describing things in terms of actual before and after code examples.

FWIW, I do think reporting the mutation classification could be quite useful. There will be standard

[2015-11-05 17:09] tjchambers commented on #395
@dkubb I see the tagging of a type of mutation, and the classification of a tag or group of tags as intertwined. While broader classifications may be sufficient to the approach to the mutation, it would personally help me to connect the dots back to the specific mutation.

I do realize this would require assigning a label/tag/type/whatever-you-want-to-call-it to each mutation. It's not magic unfor

[2015-11-05 19:46] tjchambers commented on #128
Adding that eventually my above example pushed to DSL.

[code]

which eliminated the class method entirely. And the associated mutations. For now.

[2015-11-05 20:34] dkubb commented on #395
@tjchambers it looks like we've been discussing this for a few months. I'm going to propose a way we can make forward progress on this, although I wanted to make a few statements first.

Just about everyone involved in mutation testing to you, @mbj, other contributors and myself agrees that there should be more common vocabulary around mutation testing. Specific operators are specific to ruby, but

[2015-11-12 19:27] backus opened #480 "Add mutation for `Hash#dig`"
In ruby 2.3:

[code]

this could be mutated in a few ways I think

1. mutate to `Hash#[]` when there is one argument

2. mutate to a chain of `Hash#fetch` calls

[code]

   becomes

[code]

3. mutate the first argument into fetch

[code]

   becomes

[code]

[2015-11-12 19:28] backus commented on #480
There is also an `Array#dig` which I'll hold off on opening an issue for until this issue has been decided on

[2015-11-12 19:31] backus opened #481 "Add mutation `Enumerable#grep_v` -> `Enumerable#grep`"
In ruby 2.3:

[code]

Mutating to `Enumerable#grep` is then a clear orthogonal mutation

[2015-11-12 19:35] backus opened #482 "Add mutation `Hash#values_at` -> `Hash#fetch_values`"
ruby 2.3

[code]

[2015-11-15 21:45] mbj commented on #361
This will be closed by #486 when merged.

[2015-11-15 21:59] mbj commented on #482
:+1:

[2015-11-15 21:59] mbj commented on #480
:+1:

[2015-11-15 22:08] mbj commented on #481
I wounder if this mutation will ever yield an alive? We already mutate to the absence of grep (not explicitly, but we simply kill send nodes and emit the receiver).

The only case where this mutation will yield an alive is when the already existing "to absence" mutation will yield an alive?

[2015-11-16 01:45] #361 closed

[2015-11-19 13:19] ch1c0t opened #495 "Unkillable self.included mutants"
I think I found a bug. The setup is [here](https://github.com/ch1c0t/unkillable--self.included--mutants).

Running `bundle exec mutant -I '.' -r wtf --use rspec 'M*'` yields 27 alive mutants :
[code]
However, manual testing shows that they should be killed.

[2015-11-19 18:25] backus commented on #495
change the spec to this

[code]

and mutations should be killed.

[2015-11-19 18:29] backus commented on #495
@mbj can explain this in more precise terms, but basically mutant loads your lib and specs on boot.  Since you defined `App` *outside* of rspec, `M` is only being included into `App` on boot.  When mutant later mutates the behavior of `included` it has no effect on the specs because `App` isn't being redefined each time the specs run.

[2015-11-19 22:58] backus commented on #495
@ch1c0t could you close this if this answered your question?

[2015-11-19 23:14] #495 closed

[2015-11-20 08:54] ch1c0t commented on #495
@backus Many thanks for the explanation.

[2015-11-20 15:17] mbj commented on #495
To explain the invariant mutant relies on:

So what @backus is correctly proposing: Adding a test-time call side to code that was only called at boot time.

There is an idea to implement so called "boot time mutations" in mutant that would lessen the above constraint, but it would be much slower and generally not worth my limited implementors time.

[2015-11-20 18:05] tjchambers opened #496 "Add mutation `[]` to `Set.new`"

[2015-11-20 19:14] dkubb opened #497 "Add mutation `#to_a` to `#to_set`"
Often developers use a primitive `Array` when they have no expectation of duplicate elements in a list, where a `Set` is more appropriate. This mutation will expose assumptions in code where an `Array` is used but a `Set` is better.

[2015-11-20 19:19] mbj commented on #497
Yes. Set is much enough a subset in semantics to Array to warrant this as a reduction operation.

[2015-11-20 19:22] tjchambers commented on #497
I believe this is a meaningful mutation, but the lack of support for Set as an Enumerable in ActiveRecord - not just lack but incorrect but valid SQL - has the potential IMHO to suggest a change to `to_set` is *suggested* and yet impacts will be strongly felt outside the mutated code.

I am not against this mutation, but Set is not a UNIQUE Array variant.

[2015-11-20 19:23] mbj commented on #497
WDYM exactly. If `#to_set` is not implemented the mutation will not be reported as an alive.

[2015-11-20 19:24] dkubb commented on #497
I know, but in well written code it can usually stand in for much of what people expect from Array. If code does something that only works with an Array, then the tests should fail anyway.

[2015-11-20 19:24] tjchambers commented on #497
For reference here is the discussion on support for Set in ActiveRecord

https://github.com/rails/rails/pull/19755

[2015-11-20 19:27] tjchambers commented on #497
@bkubb I don't disagree, but passing a Set to another Class not under mutation test alters the behavior vs. Array being passed. That may happen with any code, not just Set vs. Array, but the inability to easily detect malformed SQL ELSEWHERE makes me pause when thinking about converting to a Set even when Set behavior IS what I want.

[2015-11-20 19:28] dkubb commented on #497
One argument he makes is:

I'd like to know the reason why not? There's `Enumerable#to_a`. If you really do want an Array, then call `#to_a` inside your method. It'll work with all `Enumerable` objects. In the case of an `Array` it's super cheap. In this case duck typing solves the problem nicely and cleanly.

[2015-11-20 19:28] tjchambers commented on #497
In this case specifically the difference between Set and Array in terms of ActiveRecord support is scaring me.

[2015-11-20 19:29] mbj commented on #497
@tjchambers <evil-voice>Welcome to dynamic typing.</evil-voice>

And more constructive: If the difference is that important and mutant forces you to use `#to_set`, you should have a spec that "nails" the `#to_a` call, via asserting an instance of Array.

This is a case where mutant forces you to be more explicit about your expectations.

[2015-11-20 19:30] tjchambers commented on #497
@dkubb I think the issue is who should call `to_a`. Certainly not the developer relying on ActiveRecord to be efficient and correct.

[2015-11-20 19:31] backus commented on #481
I think you're right here. Might not make sense to make this a mutation.  One possible case might be if a test is asserting that the output array is a subset of the input array.  Doesn't seem too likely to pop up though so I'm ambivalent about whether this would be useful

[2015-11-20 19:31] tjchambers commented on #497
@mbj I support this mutation. But the `#to_a` call may need to be far away from the module under mutation.

[2015-11-20 19:32] mbj commented on #497
If the `#to_a` call is not in the mutated subject, the `#to_set` will not be emitted.

[2015-11-20 19:32] dkubb commented on #497
If you have a `#to_a`, but the tests continue to work with `#to_set` .. but the actual functionality is broken, doesn't that mean the test is broken since it doesn't actually test the thing you care about?

[2015-11-20 19:34] tjchambers commented on #497
@dkubb It would seem that is the case, and I am not debating that. But the amount of change that is required to change to using a Set (only if it is passes into a where clause in ActiveRecord) has far reaching and invisible impact.

The tests SHOULD prove that. The invisibility of it is what concerns me.

[2015-11-20 19:36] tjchambers commented on #497
@mbj, @dkubb Just to be clear - I support this mutation. Changing MY code to use a Set is very concerning even if Set functionality IS what I want.

[2015-11-20 19:38] mbj commented on #481
Yeah, if the test is *that* weak this mutation would yield an alive. In doubt lets add it.

Once my service is up we can log which operators yielded alives the last N month, and kill the ones that *never* yielded an alive.

[2015-11-21 04:10] michaelherold opened #498 "Is it possible to disable a particular mutation for a given line?"
I have one particular instance where this would be useful: the `__send__` to `public_send` mutation. In Ruby < 2.1 `Module#include` was a private method, but in Ruby >= 2.1 it was changed to be a public method. One of my libraries still has to support 2.0 (and 1.9.3 currently ...) so I can't make the change to `public_send`. This means that I get a mutation that isn't killed when running mutant in

[2015-11-21 10:32] mbj commented on #498
@michaelherold There is no fine grained configurability for good reasons. My OSS time is very limited, and supporting fine grained configuration adds complexity, even when done well. So a while back I made the decision to only provide features that I'd use for my commercial activities, and nothing beyond. The overall value for people using mutant is better from doing N features right at a high qua

[2015-11-21 10:32] #498 closed

[2015-11-21 16:32] michaelherold commented on #498
Thanks @mbj! I totally understand about feature creep. I appreciate you taking the time to suggest a workaround.

Thank you for creating such a useful project. I look forward to seeing where you'll take it.

[2015-11-21 16:37] mbj commented on #498
@michaelherold How many call sides for `#send` vs `#public_send` are affected?

[2015-11-21 16:45] tjchambers commented on #498
@michaelherold FWIW I asked for a similar *ignore a line* in mutant. After having used it for a considerable amount of time (> 8 hours per day for weeks), I concur with the decision to keep the complexity low and focus limited time on other features. For me it has been an extremely valuable tool as is, and it just keeps getting better (or worse if you count more mutations to chase as worse - for m

[2015-11-21 17:08] michaelherold commented on #498
@mbj The only line I've ever had this issue on is [this particular one](https://github.com/michaelherold/module_builder/blob/1b814b68c30bd6aac1f9ab59f3c64cf571647a25/lib/module_builder/builder.rb#L110). Is that what you're asking? I'm unfamiliar with the term "call side".

@tjchambers I also agree with keeping it simple - the simplest thing that works, right? :smile: The fact that I have this one

[2015-11-21 18:07] mbj commented on #498
@michaelherold Why dont you do the following (conceptually untested):

[code]

Now you by default ship `#public_send` in your default implementation and get 100% mutation coverage on 2.2.3. As a bonus side: If any person decides to violate `Module#include` API in the future and set `#include` to private visibility, your code using `#public_send` will notice.

And as I you only (?) run mutant on 2.

[2015-11-21 18:15] mbj commented on #498
Call side is the location a method is called. A method can have one multiple or none call sides.

[2015-11-21 18:21] michaelherold commented on #498
@mbj Thank you so much for the suggestion! I'm adding that to my board to think about for my next release. You're very kind to spend time coming up with this idea for me.

Yep, just as a convenience. I've run it on other versions to make sure that I wasn't missing anything, but since it takes a while I just normally run on my primary Ruby.

Thanks for the clarification. I've heard "call site" befo

[2015-11-21 18:39] mbj commented on #498
@michaelherold I mix up `d` and `t` very randomly. Means that `call site` is correct, and `call side` is a mistake. I do not hear the difference between d / t for most englisch words.

[2015-11-22 20:18] mbj opened #501 "Improve and document resource detection in CI environments"
Ticket for the followup of https://github.com/mbj/mutant/pull/499#discussion_r45555436.

[2015-11-22 20:24] mbj commented on #501
@tjchambers, @backus, @dkubb Please read the referenced discussion and reply here outlining your expectations on how mutant behaves under CI environments. And if it should detect them at all, I tend to think that changing default behavior on the presence of `CI` environment variable is not a good idea at all.

[2015-11-24 05:25] #501 closed

[2015-11-25 00:40] mbj opened #505 "Add support for multiple `--since` flags selecting the superset."

[2015-12-01 22:56] tjchambers opened #506 "Stacktrace from mutant?"
Have recently upgraded and am rerunning all modules with #mutant 0.8.8 (was 0.8.6).

On some modules am getting stack trace below:

[code]

This looks like it is internal to mutant. I cannot see a pattern in MY code that is causing this.

Any guidance would be appreciated.

[2015-12-01 23:15] mbj commented on #506
@tjchambers Looks like a bug in mutant or one of its dependencies. Can you provide a reduced example that triggers this?

[2015-12-01 23:15] mbj commented on #506
Also, could you update your ruby to run `2.2.3`?

[2015-12-01 23:19] tjchambers commented on #506
I tried updating to 2.2.3 and I have loads of gems that fail.

I will try to find the pattern that causes the failure.

[2015-12-02 00:30] tjchambers commented on #506
This appears to be a conflict of gems on my end.

I was able to solve the problem by swapping Memoist out and Adamantium::Flat in. This is a situation where I have inheritance of 2 abstract layers followed by a final subclass. The Top level abstract class was using Adamantium::Flat, and the intermediate abstract class was using Memoist (it did not need to - I am still trying to eradicate Memoist).

[2015-12-02 00:31] tjchambers commented on #506
All of the mutation issues involved this one hierarchy. There are 5 subclasses of the intermediate and all of those and the specs for the intermediate and top level were all failing.

This is also a clear case of where I should be using composition over inheritance, but I don't want to make too many changes at once.

[2015-12-02 00:32] tjchambers commented on #506
I'd like to leave this open until I finish one pass with 0.8.8 just in case I read this wrong.

[2015-12-02 08:46] mbj commented on #506
I see. Mutant does not have any code path to deal with `Memoist`. This is not a bug, just a missing feature. Gonna close this issue for now.

[2015-12-02 08:46] #506 closed

[2015-12-02 15:08] tjchambers commented on #506
FYI all of my code would mutate under mutant 0.8.6 as I have been using Memoist for a while, but I have also been working recently to eliminate Memoist to reduce gem landscape. I still have 82 uses and am going to focus on eliminating those - not do to mutant.

I prefer to use Adamantium and am looking at Memoizable where Adamantium cannot be used or am just using plain old ruby.

[2015-12-10 23:59] tjchambers commented on #506
I never was able to locate the source of the Set that was referenced by memoizable. My research let me to conclude I am using the correct thread_safe gem version which does not create a Set.

However I was able to extricate all Memoist references and remove that gem entirely in fave of Adamantium/Memoizable.

No further action expected.

[2015-12-11 00:28] mbj commented on #506
@tjchambers thx for your final report.

[2015-12-11 23:00] mbj opened #507 "Add a mutation from `def foo(arg)` to `**arg` to force a Hash type hint when qualifies"

[2015-12-15 20:46] backus commented on #472
For ruby 2.3 this mutation (for strings) could be [`String#-@`](https://github.com/ruby/ruby/blob/v2_3_0_preview2/NEWS#L133) which will return a frozen string

[2015-12-15 20:49] mbj commented on #472
I do not like this upstream API. Its now even harder to differentiate between number and string aritmetic.

I personally think the mutation should use `"str"` into `"str".freeze` which is very explicit.

[2015-12-15 20:52] backus commented on #472
Yeah I agree.

[2015-12-16 01:38] tjchambers commented on #472
Is that format supposed to be intuitive?

[2015-12-16 01:39] mbj commented on #472
The `-"foo"` syntax @backus referenced is likely intend to be intuitive. IMO its just dangerous, as it introduces another dimension of possible misunderstanding. AFAIK it also works on `-foo` where `foo` evaluates to a string. This introduces another indirection for reviewers.

[2015-12-16 01:42] backus commented on #472
I think it is supposed to be intuitive but I don't think it is. Quoting [feature discussion](https://bugs.ruby-lang.org/issues/11782):

[2015-12-16 01:44] mbj commented on #472
Haha, you know can possibly write C in ruby `a ++"foo"` :P

[2015-12-16 11:39] kbrock commented on #497
I always feel `kind_of?(Array)` tests are a smell. We really don't need it to be an array, we just need the code to work. Is there another way to state "and works with active record"?

I think of mutations as best practices more than possible alternatives. So if a mutation pushes me towards code that is slower, less compatible, and or less practical, then I hesitate. I'm not so sure that using set

[2015-12-16 12:34] tuexss commented on #497
You're right, tests shouldn't look at which data structure is in use. But this mutation isn't for detecting whether you use a specific data structure, it is about using the simplest data structure available. For me it's a best practice to go for simpler and safer code, even if it's maybe not the easiest way to implement it. It's similar to methods with or without a `!` - in many cases it doesn't m

[2015-12-16 12:52] kbrock commented on #497
I overlook using `Set`. Maybe it is the fact that I have to `require 'set'` So the encouragement to use the simplest data structure is welcomed.

But I do wonder if using an`Set` is safer. If there is an easy test for me to ensure that it won't break other code, then that sounds good.

I would prefer if I didn't have to add the same boilerplate for common use cases like to_s, to_a or eql

[2015-12-16 13:57] tuexss commented on #497
I totally understand your doubts. The last thing we want to have around is more to_s/to_a added to code.

What I'm concerned about is, when people use data structures randomly, as long as they do the job at hand. Not everything is an Array or a Hash, even in the ruby world. There are b-trees and sets, linked lists and stacks, ranges and many more. Writing better code means to identify which struct

[2015-12-16 16:47] tjchambers commented on #472
Wow. If I had to memorize that syntax I still don't think I could recall it.

[2015-12-18 03:41] kbrock commented on #497
I agree that encouraging users to use the simplest data structure and/or code is best.
E.g.: often we use `gsub` when we could use `gsub!`, `sub`, or `tr` instead.

And while using a `Set` instead of an `Array` may be correct, people may be led into path with unintended/unknown consequences. E.g.: In a set, you are not supposed to modify records.

Again: Yes, lets encourage users to go for the sim

[2015-12-18 20:27] mbj commented on #497
Mutant, to uncover semantic uncoverage applies operators to the code. These operators have to comply with one of the following ideas (or both):

A) The operator clearly reduces semantics of the code under mutation. Reduction in a way the resulting code (after operator applied) is a proper subset semantically of the original version. `a; b` -> `a` is a classic example. The proposed `to_a` to `to_se

[2015-12-22 19:45] backus commented on #459
@tjchambers thanks this is a helpful note since the way `module_function` copies methods isn't obvious. Would you be able to share more information about how this test looks? Testing the instance method should be tricky since mixing it into a class or module results in it being a private method.

[2015-12-22 19:51] backus commented on #459
Similar issue for reference: https://github.com/mbj/mutant/issues/121

[2015-12-22 20:07] tjchambers commented on #459
@backus - on the advice of @mbj I eliminated all `module_function` references and was more specific.

So I don't have any specs that require me to handle this issue. If I recall however (it's been a while) after I convert to *specifying* the instance method it just worked. I think it has to do with the spec matching in mutant when examining the methods under test. I may be incorrect about that. I

[2015-12-22 20:26] backus commented on #459
Ah alright that made sense. How did you eliminate your `module_function` usage specifically? Did you switch to something like `extend self` or did you just not need `module_function` in the first place?

[2015-12-22 20:39] tjchambers commented on #459
My recall is I dropped the `module_function` and prefixed the method defs with `self.`

[2015-12-22 21:40] backus opened #509 "Add mutation `Foo.method(:bar)` → `Foo.public_method(:bar)`"
I've adopted this shorthand after seeing @dkubb and @mbj use it in the wild:

[code]

The downside to this shorthand is that `Kernel#method` will give you any method object regardless of its visibility. For this reason I think mutating to `public_method` is beneficial:

[code]

[2015-12-22 21:44] backus commented on #509
**Note** I am only proposing mutating

[code]

and not

[code]

or

[code]

Mutating the second two examples to `public_method` might be worthwhile too but that is a separate issue in my opinion.

[2015-12-24 15:42] mbj commented on #509
+1 I like that one.

[2016-01-02 17:39] #456 closed

[2016-01-02 17:39] #457 closed

[2016-01-04 09:12] #482 closed

[2016-01-15 23:35] dkubb opened #520 "Mutant fails when tput binary is not present"
When the tput binary (from curse) is not present mutant will raise an error:

[code]

[2016-01-15 23:45] mbj commented on #520
Mutant only does check if the tput binary provides the expected operations, and does not anticipate it could be missing. In case of missing it should simply behave like the expected operations on the binary not being present.

[2016-01-17 00:09] dkubb opened #521 "Add mutation enum[n..-1] → enum.drop(n)"

[2016-01-17 01:06] mbj commented on #521
Matching that one in the AST is more complex than the mutations we sue to have right now. I'd love to support it, without lots of manual special cased code.

But we IMO need an "AST matching language" a "CSS for AST structures" with an efficient precompiler that merges various match expressions into one application to avoid a re-iteration per mutation operator.

For now I think we should implement

[2016-01-25 00:31] mbj commented on #460
This was done in #525.

[2016-01-25 00:31] #460 closed

[2016-02-06 17:27] #509 closed

[2016-02-07 17:40] #497 closed

[2016-02-15 08:05] #480 closed

[2016-02-25 15:34] leonardoprg opened #541 "getting mutant errors out the project (third libraries)"
Hello guys,

I have a rails project that use `paranoia` gem

I'm running  the command

`mutant --use rspec User*`

and it is getting errors like:

[code]

How can I avoid/fix it?

[2016-02-25 20:07] backus commented on #541
I assume you have something like

[code]

and the problem is that the paranoia gem monkey patches ActiveRecord to add this method. When you invoke this method, it defines the method that you quoted in your issue: https://github.com/rubysherpas/paranoia/blob/9e0ec38e5f4d08d25c1bf1b63c1fe78208abe625/lib/paranoia.rb#L219-L221

Unfortunately the answer is that you can't avoid this because of this "des

[2016-02-25 20:07] #541 closed

[2016-02-25 20:34] mbj commented on #541
@backus Is correct, unless mutant implements more "ruby evaluation" it cannot determine if its "your" code or not given the way paranoia defines a "method in a method" (a horrible antipattern anyway).

Mutant considers the method to be defined in the class User, so it should be mutation covered from its POV. You can exclude it via `--ignore-subject User.paranoia_scope` as you "know" its not your r

[2016-02-25 20:44] leonardoprg commented on #541
@backus @mbj

maybe is better remove paranoia from the project.

for sure it's a horrible antipattern.

anyway Thanks guys,

[2016-02-25 20:45] mbj commented on #541
Mutation testing also causes backpressure to remove suboptimal gems infecting your code, yes.

Having a deleted state for a record or a record graph is not itself a very bad idea. But I think this is likely better to be reflected 2rst class than with `paranoia`.

[2016-02-26 10:45] leonardoprg commented on #541
totally agree,

I prefer have good tests instead choice some library.

[2016-03-13 16:51] knovoselic opened #544 "Mutating false to nil"
Consider the following code:

    class Book
      attr_reader :pages

      def initialize
        @pages = []
      end

      def add_page_without_ads(text)
        add_page text, false
      end

      def add_page_with_ads(text)
        add_page text, true
      end

      private

      def add_page(text, ads)
        text += 'Buy something!' if ads
        pages << text
      end
    end

a

[2016-03-13 18:00] maksar commented on #544
I would expose only one public method in the first place:
[code]

[2016-03-13 18:09] mbj commented on #544
Kill via refactoring:

[code]

Removes boolean control parameter entirely.

[2016-03-13 18:09] #544 closed

[2016-03-13 18:11] mbj commented on #544
Even when I closed this issue: feel free to continue discussion.

[2016-03-14 20:35] dkubb commented on #544
Having a method that takes a boolean in order to determine the code path it executes is a code smell, specifically [Control Coupling](https://github.com/troessner/reek/blob/master/docs/Control-Couple.md). It's almost always better to refactor it away.

[2016-03-15 22:41] pawelduda opened #546 "Parsing rspec descriptions results in, invalid byte sequence in UTF-8 (ArgumentError)"
Having certain unescaped string sequences in either spec description or as an argument for shared example, like so will produce an error:

[code]

[code]

[code]

Apparently after some debugging it turns out that Mutant seems to read all spec descriptions for the entire project during initialization, even though I am giving it an explicit class that I want to test. That's why the error was hard to

[2016-03-16 16:13] mbj commented on #546
I do not have time to reply in depth now, a similar issue is discussed here:  https://github.com/mbj/mutant/issues/357

Also: Mutant needs to load all rspec examples for various reasons I do not have the time to explain right now. At least I can tell you its intended ;)

[2016-03-16 16:15] mbj commented on #546
Related parser issue (actually a question): https://github.com/whitequark/parser/issues/213

[2016-03-16 16:16] mbj commented on #357
Related parser issue: https://github.com/whitequark/parser/issues/213

[2016-03-22 10:16] wjdhamilton opened #552 "Mutant Stuck using MRI 2.3.0"
Whilst trying to test a rails 4.2 app on OSX using ruby 2.3.0 mutant consistently get stuck despite a timeout being set in rspec as per documentation. Unfortunately, I have no idea how to debug this! Any help would be much appreciated. Strangely, the problem seems to be different using MRI 2.2.1 than MRI 2.3.0. The tests that got stuck in 2.3.0 are different from those that get stuck in 2.2.1.

[2016-03-22 11:09] wjdhamilton commented on #552
Fixed it! I had an errant call to byebug in one of the tests which was naturally pausing execution, however the call was bound to a conditional that did not resolve when the code was being normally tested. Is it worth mentioning this in the docs? I know it's obvious in hindsight but I don't think it was that obvious in the heat of the moment!

[2016-03-22 11:09] #552 closed

[2016-03-22 18:09] mbj commented on #552
@wjdhamilton Haha, cool. Thx for sharing anyway. More googleable issue resolutions are appreciated.

WDYM, can you give me a small code example? I want to be sure I reply to the right thing.

[2016-03-22 19:09] wjdhamilton commented on #552
Certainly!

[code]

[2016-03-22 19:25] mbj commented on #552
Ahh, so its a conditional mutant caused to be evaluated in your tests from injecting a behavior difference that made the bug (you fought before) trigger.

I do think you can prevent this via adding a whitelisting conditional based on an ENV read.

[code]

And your code would only branch into `bytebug` when this env variable exists.

[2016-03-22 19:35] wjdhamilton commented on #552
So, is that something the library would have to implement or does it already exist?

[2016-03-22 20:13] mbj commented on #552
I was more thinking about you predicate such "debug things" via equivalent of `if ENV.key?('YOUR_DEBUG_KEY')` this way this behavior that stops rspec would not be triggerable under mutation testing, and more important CI.

[2016-03-23 09:19] wjdhamilton commented on #552
That’s a good idea, but on the other hand given that mutant can make temporary alterations to the code, why not allow the user to specify a rule that causes any lines including byebug to be removed when mutant is run? That way you’re not asking the user to add additional lines of code to their project. Something like:

[code]

Might do the job

[2016-03-23 15:35] mbj commented on #552
@wjdhamilton Thats a possible but IMO impractical solution:

* Mutant right now does NOT mutate the specs, and your call side is in the specs
* Desterministically statically determining if `Kernel#byebug` is called is not possible, as it might be wrapped by other spec helpers. I'd have to turn mutant into a ruby implementation to determine this, which will not happen for obvious reasons.
* Minor p

[2016-03-23 18:49] mcandre opened #553 "Mutant reporting 100% coverage on 0 subject matches"
I used mutant for the first time on my [rubycheck](https://github.com/mcandre/rubycheck) gem. Am I doing this right?

Trace:

[code]

[2016-03-23 18:52] mcandre opened #554 "Support for Ruby 2.2, 2.3"

[2016-03-23 18:53] mbj commented on #553
No:

[code]

AKA: Nothing to mutate, hence reporting 100% (but should probably not). So both are wrong, your usage, and mutants behavior on no matches (without `--since`).

Seems your namespace is `RubyCheck`, https://github.com/mcandre/rubycheck/blob/master/lib/rubycheck.rb#L14, not `Rubycheck` hence there are no matches.

OT: I fixed your issue title as not very productive for other users.

I'll

[2016-03-23 18:54] mbj commented on #554
@mcandre Can you be more specific? In what way mutants behavior should be changed? I'll close this issue till this is clarified, I'll reopen when I understand your intentions.

[2016-03-23 18:54] #554 closed

[2016-03-23 19:04] mcandre commented on #554
PEBKAC

[2016-03-23 19:07] mcandre opened #555 "Test failing within mutant"
mutant somehow finds one of the tests to be failing in my [line-detector](https://github.com/mcandre/line-detector) gem, umodified, whereas a bare `rspec` shows no such failures.

Trace:

[code]

[2016-03-23 21:08] mbj commented on #554
k

[2016-03-23 21:10] mbj commented on #555
Its likely your spec setup only works when the toplevel executable is `rspec`, could it be that adding a require to `rspec-expectations` in spec helper (when globally included) helps?

[2016-03-23 21:12] backus commented on #555
Running the specs locally using mutant didn't produce any neutral failures for me. Can you post your Gemfile.lock? It could also be some sort of global rspec configuration

[2016-03-23 21:49] mbj commented on #555
OT: Neutral failures are an intentional self defense build into the tool to prevent a false sense of coverage caused by integration issues just like the one you are reporting.

[2016-03-23 21:58] wjdhamilton commented on #552
Having read your thoughts on this, I agree. I also think that adding that flag would be an excellent idea. I’ll try and use the Rails environment flag in future.

Thanks for your help and advice!

James

[2016-03-23 21:59] mbj commented on #552
Did you miss a negation here?

What I proposed is a unix environment variable, not related to rails at all.

[2016-03-23 22:32] wjdhamilton commented on #552
No I don’t think I missed a negation, I was referring to your suggestion - `if ENV.key?(‘YOUR_DEBUG_KEY’)` as being the right idea, not mine.

[2016-03-23 22:46] mbj commented on #552
Heh, I was assuming "the flag" referrs to Mutant config you proposed. Thx for clarifying.

[2016-03-24 23:00] backus opened #556 "Add mutation `foo, bar, baz = *qux` → `foo, bar = *qux`"
There are many other low hanging fruit too for `masgn` nodes

[2016-03-28 02:57] backus commented on #555
@mcandre any update or can we close this issue?

[2016-03-28 18:05] mbj commented on #555
@mcandre I assume its fixed, or not reproducible for now. Will close the issue, when you still have the problem please answer our questions above and I'll re-open this issue.

[2016-03-28 18:05] #555 closed

[2016-03-31 20:51] mbj opened #558 "Test"

[2016-03-31 20:52] #558 closed

[2016-04-01 00:08] wied03 opened #559 "Expected coverage, perfect the enemy of good? (discuss)"
I was perplexed by an exit code of 1 when I was exceeding my expected coverage. I read this post and understand why that's happening: http://blog.arkency.com/2015/05/mutation-testing-and-continuous-integration/

I can appreciate the logic in it. That said, doesn't requiring an exact match kind of make perfect the enemy of good for someone trying to get into this?

It seems like to "white list", I'

[2016-04-01 00:37] mbj commented on #559
I can see your argument. But: Writing mutation testing engines is a hard job. I do this on my free time. So I long ago made the decision to ONLY support *my* use cases. I do not proactively optimize for beginners, at all. I do not add switches useful for other project types, etc.

All to put the very limited opensource time I have to a good use. While its hard to onboard mutant as a beginner, this

[2016-04-01 00:37] #559 closed

[2016-04-01 00:38] mbj commented on #559
@wied03 OT there is a slack channel where we discuss these questions with more people on a more regular basis, feel free to let me know your email so I can invite you.

[2016-04-01 00:42] wied03 commented on #559
Fair enough. I certainly appreciate the effort you put into this. Are pull requests for any of the above out of the question? Or is the review + long term maintenance of a PR for this going to be a pain?

[2016-04-01 00:43] mbj commented on #559
When a PR is made that passes code review and its not significantly to much (from my perspective dead) logic: I'll take it.

Code review process here is "though" but should be of value for anyone trying.

[2016-04-01 14:51] wied03 commented on #559
Well, for the guy that wrote a mutant testing tool, I would be surprised if the code review process was easy :)

[2016-04-01 18:05] mbj commented on #559
Hint: I've 100% self coverage right now, and I'll not sacrifice it ;)

[2016-04-01 18:23] mbj commented on #559
@wied03 Thinking about this a bit longer: I'd even consider to drop `--expect-coverage` from mutant master, as I do not use it "at all".

Instead we could encrich the `Config` with an `SuccessCriteria` object that you can inject for your own on projects that do not follow my own workflow.

[2016-04-27 22:45] #521 closed

[2016-04-30 11:36] skamansam opened #568 "Multi-model reporting"
There should be a way to enable multi-model reporting, with a saved report. This can be used to enable  CI integration.

[2016-04-30 12:48] mbj commented on #568
Can you be more specific for this feature request?

[2016-05-01 15:26] knovoselic commented on #544
Thanks everyone, I get what you're saying. Here's a better example (rails codebase): .

    def some_action
      do_something
      head :ok
    end

Mutant will try to mutate `:ok` into `nil` and the mutation will not get killed because `head nil` still returns HTTP OK. Any suggestions here? I think `head :ok` is much better than `head nil`.

[2016-05-01 17:14] mbj commented on #544
@knovoselic The problem is that rails does not prevent `nil`, not that mutant identifies this misdesign in the rails API.

The mutation from any expression to `nil` when alive is valid, in all cases. But in case of imperfect 3rd party API design, it might be hard to kill.

You likely can kill this mutation via a message expectation asserting the argument is `:ok` and not nil. Or propose to fix rai

[2016-05-01 17:54] knovoselic commented on #544
@mbj Thanks. Yeah, I can kill it via a message expectation, but I don't like that. I'll leave it for now.

[2016-05-01 18:32] mbj commented on #544
I do not like the message expectation either, but I consider the root cause really is on the rails API design side. If `head nil` and `head :ok` are indistinguishable something is wrong.

[2016-05-01 18:33] mbj commented on #568
@skamansam Till you had the time to followup with an answer for my question above, I'll close this as non actionable. Feel free to reopen answer my question.

[2016-05-01 18:33] #568 closed

[2016-05-06 07:05] dkubb opened #569 "Fix rubocop configuration to flag #inject used when #reduce should be preferred"
For some reason rubocop is not properly flagging uses of `#inject` and recommending `#reduce` instead.

Here is one example:

https://github.com/mbj/mutant/blob/41c41b2a1723f15eb84358cb61dea08ded7756c7/spec/support/corpus.rb#L97

While I hope it's just this one instance, it could be a signal that rubocop is missing other flags.

[2016-05-19 02:33] backus opened #571 "Add mutation from `/foo/ =~ bar` to `/foo/.match?(bar)`"
See https://github.com/ruby/ruby/commit/f09574c879fe9a4488164a41b453617b4b1d56bb

[2016-05-19 03:01] mbj commented on #571
Yeah, good one.

[2016-05-23 07:09] backus commented on #19
Closed by #565! :smile: 🎈

[2016-05-23 07:09] #19 closed

[2016-05-23 08:42] backus opened #572 "Add mutation `/$/` → `/\z/`"

[2016-05-23 08:42] backus opened #573 "Add mutation `/(?<foo>)/` → `/(?<foo__mutant__>)/`"

[2016-05-23 08:42] backus opened #574 "Add mutation `/(foo)/` → `/(?:foo)/`"

[2016-05-23 08:42] backus opened #575 "Add mutation `/(foo)/` → `/(?>foo)/`"

[2016-05-23 08:42] backus opened #576 "Add mutation `/(foo|bar)/` → `/foo|bar/`"

[2016-05-23 08:42] backus opened #577 "Add mutation `/\b/` → `/\B/`"

[2016-05-23 08:43] backus opened #578 "Add mutation `/\B/` → `/\b/`"

[2016-05-23 08:43] backus opened #579 "Add mutation `/\d/` → `/\D/`"

[2016-05-23 08:43] backus opened #580 "Add mutation `/\D/` → `/\d/`"

[2016-05-23 08:43] backus opened #581 "Add mutation `/\h/` → `/\H/`"

[2016-05-23 08:43] backus opened #582 "Add mutation `/\H/` → `/\h/`"

[2016-05-23 08:43] backus opened #583 "Add mutation `/\s/` → `/\S/`"

[2016-05-23 08:43] backus opened #584 "Add mutation `/\S/` → `/\s/`"

[2016-05-23 08:43] backus opened #585 "Add mutation `/\w/` → `/\W/`"

[2016-05-23 08:43] backus opened #586 "Add mutation `/\W/` → `/\w/`"

[2016-05-23 08:43] backus opened #587 "Add mutation `/\Z/` → `/\z/`"

[2016-05-23 08:43] backus opened #588 "Add mutation `/a*/` → `//`"

[2016-05-23 08:43] backus opened #589 "Add mutation `/a*/` → `/a/`"

[2016-05-23 08:43] backus opened #590 "Add mutation `/a*/` → `/a{2,}/`"

[2016-05-23 08:43] backus opened #591 "Add mutation `/foo|bar/` → `/foo/`, `/bar/`"

[2016-05-23 14:35] mbj commented on #587
@backus You are sure changing case from `Z` to `z` is what you want and the issue was not meant to be `\Z` to `\z`?

[2016-05-23 14:36] mbj commented on #586
@backus I assume the bachslash was swollowed by GH? (I'll not comment on the other instances).

[2016-05-23 16:41] backus commented on #587
@mbj fixed on this issue and the others

[2016-05-23 16:41] backus commented on #586
@mbj fixed

[2016-05-23 16:48] mbj commented on #572
@backus I bet you meant `/\z` as the target.

[2016-05-23 17:03] backus commented on #572
Fixed

[2016-05-23 17:43] backus opened #592 "Add mutation from `[foo]` → `[^foo]`"

[2016-05-23 18:34] mbj commented on #592
This makes me think about adding: `/foo/` to `/\Afoo/`, `/foo\z` and `/\Afoo\z/` not because of semantic but syntax similarity.

On the original proposal:

`[^foo]` is the *strict* inverse of `[foo]` so there is no overlapping input that satisfies both, as this is a "total" reduction for the original input, I consider it not a good mutation. As there will never be a test alive?

[2016-05-24 00:58] tjchambers opened #593 "Add mutation `flat_map` -> `map`"

[2016-05-24 12:11] mvz opened #595 "regexp_parser does not support MRI 2.3.1 yet"
This problem surfaces when running current master with MRI 2.3.1. Running mutant, I get `Regexp::Syntax::MissingSyntaxSpecError: Missing syntax specification file for 'ruby/2.3.1'` from `regexp_parser`.

[2016-05-24 14:29] mbj commented on #595
Interesting. Mutant did not got a release for master regexp mutations yet. I'll get that fixed before release. //cc @backus.

[2016-05-24 17:11] backus commented on #595
I'll get that fixed tonight

[2016-05-24 18:25] backus commented on #592
Interesting. So do you also not like mutation from `\w` to `\W` or is that different?

[2016-05-25 15:07] mbj commented on #595
This was addressed upstream meanwhile, waiting for a release. @mvz Thx for reporting.

[2016-05-26 00:45] tjchambers opened #597 "Add mutation `/.+?/` → `/.+/`"
This one could be debateable. I don't "think" I saw it in any of the suggested prior enhancements.

[2016-05-26 00:48] dkubb commented on #597
I think this is a reasonable mutation. You should only use `.?+` if there's a case where you need it to be non-greedy. You should have to provide a test case to validate it; so I agree with this.

[2016-05-26 00:53] tjchambers commented on #597
Thanks for the vote of confidence. I have a lot of these where I "know" I need to be non-greedy. So this will ensure I have the proper test cases.

[2016-05-26 00:58] mbj commented on #597
Is greedyness more primitive than non greedyness?

[2016-05-26 01:01] tjchambers commented on #597
@mbj Is that a philosophical question?

I need to test to avoid greedyness - I have multiple pairs of "bookends" in a string. SO this mutation would prove I have adequately tested.

[2016-05-26 01:03] mbj commented on #597
@tjchambers No not a philosophical question. An axium applyment question. to me "gredyness is more powerful than non greedyness".

[2016-05-26 01:05] dkubb commented on #597
I think so. I does require more syntax to enable non-greedy matching. I feel like if you're writing a regexp, and you're using something like `.+` you need to make the choice in that applies limits to it's default behaviour.

I would not consider unnecessary usage of `.+?` in a regexp to be a well written regexp.

[2016-05-26 01:07] tjchambers commented on #597
@mbj actually I think this may work potentially as a mutation both ways. I may have some places where greedyness is warranted, and I have used non-greedy test data without considering it, but in that case they behavior is the same. It is only when converting from non-greedy to greedy that I would expect a failure. So it may be a useful bidrectional mutation?

I need to think more on that.

[2016-05-26 01:53] mbj commented on #597
I think we should focus on the semantics, not the syntax to apply the axiom?

[2016-05-26 05:37] dkubb commented on #597
@mbj Interesting. I'm thinking more about this and maybe you could be right. I found a few articles to support the axiom:

* https://blog.mariusschulz.com/2014/06/03/why-using-in-regular-expressions-is-almost-never-what-you-actually-want
* http://perlmonks.org/?node_id=24640

In general I never liked non-greedy matching because I also dislike greedy matches using `.+` and `.*`, for the same reason

[2016-05-26 06:39] dkubb commented on #597
Thinking about this even further, if we consider a regexp to be a *representation* of a (possibly infinite) set of all possible strings that a regexp could match, then it becomes even more clear what kinds of mutations we should prefer:

* Those which transform the set from infinite to finite
* Those which reduce the size of a finite set

(I thought of maybe a possibly a third rule which I can't e

[2016-05-26 06:57] backus commented on #597
Are we talking generically about greedy vs. non-greedy matching here or specifically with respect to the use of the dot? The two regular expressions in question parse like so:

[code]

So really we are talking about `regexp_greedy_one_or_more` and `regexp_reluctant_one_or_more`

[2016-05-26 14:38] mbj commented on #597
@dkubb OT: IMO focusing on minimizing semantics (not terminal syntax) is also what we do successfully to determine the availability of ruby mutations. There are some mutations that encode less semantics in "more" characters of code.

[2016-05-30 00:21] mbj opened #600 "Re-Introduce regexp mutations after invariant fixes"
Regexp mutations from https://github.com/mbj/mutant/pull/565 where removed in #599 for breaking invariants currently not perfectly enforced in the build.

Steps needed to bring this feature back:

* [x] Corpus failed (handled via https://github.com/ammar/regexp_parser/issues/24)
* [ ] Too many warnings added to the build (see https://github.com/ammar/regexp_parser/issues/25)
* [ ] Muant did not en

[2016-05-31 08:42] mvz commented on #309
@mbj Is this mutation supposed to occur when the current method has no arguments?

[2016-05-31 09:01] backus commented on #309
@mvz I can't answer for @mbj here but I'm going to guess that his answer might be something like "the `(super)` node is always more strict than the `(zsuper)` node so you should always use `(super)` unless you want to depend on the more dynamic behavior of `(zsuper)`."

On an unrelated note: you should join our slack channel. Can I invite your email listed on your personal website?

[2016-05-31 10:02] mvz commented on #309
Yes, please.

[2016-05-31 12:11] mbj commented on #309
I think that there is right now no conditional behavior.

[2016-05-31 12:14] mbj opened #601 "Remove noop `--debug` flag"
It does not have any effect right now and is confusing.

[2016-05-31 18:34] backus commented on #309
Sent!

[2016-06-07 03:38] #601 closed

[2016-06-12 10:46] troessner opened #604 "Running mutant with "--since master" blows up on master branch"
Coming from [this Reek issue](https://github.com/troessner/reek/issues/937):

We're using `mutant` like this right now:

[code]

This works well for pull requests, but running the same command on master branch blows up with:

[code]

[2016-06-12 17:11] mbj commented on #604
@troessner I've researched a bit. Summary: This is working as "designed", but the design is suboptimal. It stems from the fact that `git log -L` does exit nonzero when there is no commit selected by the source rnage. AKA when `--since $arg` equals `HEAD`.

The correct fixes would be:

1. Detect this case and noop from mutant already (possibly the simplest)
2. Find a git cli that allows the same fu

[2016-06-12 18:17] troessner commented on #604
No problem, I guess most of us have this issue :)

I'll go ahead with that, thanks for explanation!

[2016-06-12 18:17] #604 closed

[2016-06-12 18:19] mbj commented on #604
About to post a maintenance policy to not provide false hope. Summarzy: I'm okay with categorizing issues, explaining whats going on etc. But its unlikely I can fix stuff that does not concern my clients enviornments.

[2016-06-12 22:54] backus commented on #604
@troessner you might want to consider this:

[code]

I use this in a private project. Basically, the `--since` flag here is being given the revision of the "second most recent merge commit on origin/master." A few perks:

* This command works if you are on a feature branch (it tests all mutations on that feature branch)
* This command works if you are running on master. It will test the changes on

[2016-06-13 07:40] troessner commented on #604
@backus thanks for the idea - for now we solved it like [this](https://github.com/troessner/reek/pull/946/files). I'll keep your solution in mind in case we're re-evaluating this approach.

[2016-06-19 01:03] backus opened #607 "Add mutation `proc { |foo| bar }` → `lambda { |foo| bar }`"
Lambdas enforce arity while procs do not. If you are able to use a lambda you should probably prefer it:

[code]

Lambdas do also have different semantics when it comes to `return` but I don't think that this difference makes this mutation unappealing.

This mutation would probably need to support the different forms of constructing procs and lambdas:

* `Proc.new`
* `Kernel#proc`
* `->() { }`
* `

[2016-06-20 13:43] mbj commented on #607
@backus I like that one. Good catch.

[2016-06-28 00:20] tjchambers opened #609 "Alive mutation on frozen strings"
I have a number of results as in below:

[code]

I have also seen cases where I used `String.new` as well and those also remain alive in Ruby 2.3.1 with the pragma `# frozen_string_literal: true`. I have added code to confirm that the ruby version  I am running mutant under is 2.3.1.

I have not created a small reproducible GIST yet, but it would look like:

[code]

which should NOT IMO suggest re

[2016-06-29 22:16] tjchambers opened #610 "How to kill Regexp::IGNORECASE mutation?"
I have code that looks like the following:

[code]

and an alive mutation:

[code]

which I cannot figure out how to kill.

Attempt:

[code]

which does not kill. My inference is that when Regexp receives the options parameter - a bit map - it sets the settings based on the bits that are on or off. Then when it is returned the settings are extracted from the stored bit map settings - not the origi

[2016-06-30 05:51] backus commented on #610
Have you tried just interpolating into a regexp literal? This should be equivalent and also remove the mutation from `Regexp::IGNORECASE` → `self`

[code]

[2016-06-30 13:21] tjchambers commented on #610
I thought of that overnight and got up early to try it!

[2016-06-30 13:23] tjchambers commented on #610
AND IT WORKS! Great minds think alike - or at least similarly :)

[2016-06-30 13:25] tjchambers commented on #610
As a side note that cut the potential mutations from 63 -> 50, a reduction of 13.

[2016-06-30 17:23] mbj commented on #610
I'm reopening this to write a verbose answer, since I think that more should be said on this issue. (Hint: rubies API is to blame to not fail on passing primitives as the flag argument).

[2016-06-30 17:55] tjchambers commented on #610
@mbj I look forward to reading it. Don't let it interfere with your fork.

[2016-07-01 16:52] tjchambers opened #611 "Crash from use of Safe Chaining &. operator"
I believe this has something to do with the .each preceded by the `&` safe chaining operator. I tried changing the code to `puts params[:aid]&.inspect` and did NOT get a traceback.

Code:

[code]

Spec:

[code]

<details>
<summary>

Traceback...</summary>

[2016-07-01T09:40:21.628128000Z] RAILS_ENV=test bundle exec mutant -r./config/environment.rb -j6 --use rspec RoadmapProcessor > log/mutant/lib/

[2016-07-01 16:54] tjchambers commented on #611
I am going to investigate this further as it may be a NoMethodError on nil.each ...

[2016-07-01 16:58] tjchambers commented on #611
I retested and it still appears to be a mutant and/or unparser issue.

[2016-07-01 17:22] mbj commented on #611
@tjchambers First mutant crash reported in a long time. Cudos for this, thx for reporting!

[2016-07-01 18:15] tjchambers commented on #611
@mbj I enjoy bugs as much as the next person but ...

[2016-07-09 10:30] mvz commented on #459
I just encountered this issue. Specifiying the instance method doesn't work. I suppose you have to actually call the method as an instance method.

[2016-07-09 11:40] onemanstartup opened #614 "Mutant mutates, but tests still pass, but shouldn't"
Rails 5, RSpec 3.5.0, last mutant.
I run mutant like this `RAILS_ENV=test bundle exec mutant -r ./config/environment --use rspec PaymentMethodPolicy`
I have two tests of method which returns false or true.
[code]
[code]
mutant changes it to
[code]
and mutations is not killed. but if I change code manually tests failed.
However if i run mutant with specific method `RAILS_ENV=test bundle exec mutant

[2016-07-10 00:15] backus commented on #614
Your selector in your command seems to be incorrect. You wrote `PaymentMethodPolicy#destroy` when it should be `PaymentMethodPolicy#destroy?`. Can you share the full test file though along with the full mutant test output? My hunch is that the tests you included are not being selected but I can't confirm that with what you have provided

[2016-07-10 08:13] onemanstartup commented on #614
I don't even.. It's working. I started working on other things yesterday(frontend), come back today in the morning, start running mutant it's working and killing all mutants.
Sorry to bother. I don't even know how this could happen. Because one time it's working, next time it is not, and next it is working again.
I will close issue, maybe it's only me. Thanks.

[2016-07-10 08:13] #614 closed

[2016-07-10 15:42] tjchambers commented on #614
@onemanstartup I have this behavior myself for a different reason - one time works, next not. I am not saying this is your condition, but I use RSpec `pattern` in my `~/.rspec` file to filter examples, and if I am using that for one example and running #mutant on another rspec respects the pattern either way and filters out my specs under mutant - as it should. However this can look like mutant is

[2016-07-16 11:48] mvz opened #615 "Mutation of `super` to `super()` should not happen for a method with no arguments"
(Follow-up from #309).

It looks like mutant wants to enforce `super()` as opposed to `super`, even when those two options are completely equivalent:

[code]

Here, idiomatic Ruby would favor `super` over `super()`, but mutant wants me to use `super()`, and I see no way to write a spec to favor `super`.

[2016-07-18 22:53] backus opened #616 "Circular mutation `#first` → `#last` → `#first`"
If you have source code dealing with an array with one element then you cannot reasonably kill this mutation. Introduced in #605.

[2016-07-18 22:53] backus commented on #616
@mbj if you agree this is a bug then I will PR a fix.

[2016-07-18 23:02] mbj commented on #616
@backus If you have an array with one element, you should not use an array.

[2016-07-18 23:03] backus commented on #616
@mbj sure but I don't control all of the cases where code that I didn't write returns an array with one element.

[2016-07-18 23:04] mbj commented on #616
@backus Than you may need to us a stronger unpack operation than `#first`, or especially when you do not control  that code: Whitelist the "degeneration" with a message expectation.

[2016-07-18 23:05] mbj commented on #616
We do have an `Enumerable.one` and `Enumerable#one` (as project specific monkey patch) that will raise on: Enumerables with size != 1, and unpack. Its a great invariant asserting API to unpack from such APIs.

[2016-07-18 23:06] mbj commented on #616
And OT: As maintainer its my job to first say: No, feel free to continue to argue ;)

[2016-07-18 23:07] backus commented on #616
Yup I will. Probably more when I am not at work.

[2016-07-18 23:44] backus commented on #616
So you would be fine with killing these mutations?

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

To play with these mutations:

[code]

[2016-07-19 00:01] mbj commented on #616
Interesting mutant was 100% self covering, likely before that mutation was added, and yes I'm fine to kill these mutations. Also in case of:

* `emit_const_get_mutation`
* `emit_drop_mutation`
* `emit_argument_propagation`
* `emit_else_mutation`

and others: They actually expose that mutant did assume something about the AST that may not be the case in all inputs.

[2016-07-24 23:57] backus opened #619 "Mutant emits invalid class mutations"
[code]

[2016-07-25 01:46] backus opened #621 "Mutant emits invalid block mutations"
[code]

[2016-07-25 01:47] backus commented on #621
Related:

[code]

[2016-07-25 16:33] #619 closed

[2016-07-25 17:49] #392 closed

[2016-07-25 19:34] #595 closed

[2016-07-29 03:52] dgollahon commented on #600
Wasn't this closed by #618?

[2016-07-29 04:00] backus commented on #600
Yup

[2016-07-29 04:00] #600 closed

[2016-08-02 20:35] backus opened #630 "Add mutation `foo[bar] || baz` → `foo.fetch(bar, baz)`"

[2016-08-14 17:00] emiltrotuar opened #632 "Mutant (0.8.11) works fine without /specs directory"
Run `mutant -I lib -r example --use rspec 'Example'` and it will show you some low coverage even though specs for 'Example' are missing
then create /specs and add /specs/example_spec.rb with 100 coverage
and it will work as expected

Some of earlier editions were throwing an exception about missing directory /specs or
something like 'No rspec example groups found...' if there were no specs

[2016-08-14 18:24] mbj commented on #632
This is from the effect that mutant right now counts neutral mutations as part of the coverage. Neutral mutations are inserting the original code unmodified again, and expect to find NO test that is red.

If no tests are found this self test condition is fulfilled.

I think that must be a really old version?

[2016-08-14 20:17] backus commented on #616
@mbj I'm on board with this mutation now. I'll close this issue

[2016-08-14 20:17] #616 closed

[2016-08-15 14:47] #632 closed

[2016-08-21 22:11] #577 closed

[2016-08-21 22:11] #578 closed

[2016-08-21 22:11] #579 closed

[2016-08-21 22:11] #580 closed

[2016-08-21 22:11] #583 closed

[2016-08-21 22:11] #584 closed

[2016-08-21 22:11] #585 closed

[2016-08-21 22:11] #586 closed

[2016-08-22 08:36] cyberw opened #637 "Could not load integration "rspec" (you may want to try installing the gem mutant-rspec)"
Hi!

When I try running mutant I get this error. I have installed mutant-rspec, tried running it on both OSX and Linux.

[2016-08-22 08:39] mbj commented on #637
Can you post your `Gemfile`?

[2016-08-22 09:42] cyberw commented on #637
# This gemfile is intended for use on "rakemeter master" as well as jmeter master
source 'https://nexus.int.klarna.net/content/groups/publicgems/'
gem 'rake'
gem 'pg'
gem 'ruby-jmeter', git: 'https://github.com/cyberw/ruby-jmeter.git'
gem 'aws-sdk'
gem 'rubocop', '~> 0.37.2'
gem 'rspec'
gem 'mutant-rspec'

But I get this behaviour with no Gemfile as well (using only manually installed gems)

[2016-08-22 09:43] mbj commented on #637
@cyberw what does happen if you use `source `https://rubygems.org`? I do not have any control about other sources, and these could easily misbehave.

[2016-08-22 09:56] cyberw commented on #637
Well what do you know. Maybe I had a too old version of rspec? (3.4.0)

[2016-08-22 11:10] mbj commented on #637
This does not help me. Can you tell me if it works when you use an official rubygems repository. I do not have the time to assert 3rd party repository contents while working for free in OSS.

[2016-08-22 12:20] cyberw commented on #637
Sorry, I meant that now it works (I was not questioning what you know - but rather proclaiming I was surprised, like "huh, well what do you know...")

 I'm still not entirely clear as to why it is working, but I think it was because I got an updated version of rspec.

[2016-08-22 15:10] mbj commented on #637
@cyberw k, cool.

[2016-08-22 15:10] #637 closed

[2016-08-22 15:11] mbj commented on #637
Sorry for the state transition, hit the wrong button.

[2016-08-30 01:28] mbj opened #638 "Fix memoizable insertion to preserve freezer option"

[2016-08-30 01:30] mbj opened #639 "Fix memoizable insertion to preserve freezer option"
Mutant is right now configured to detect and re-produce memoized methods via the `memoziable` gem. In case the memoizable is used with `adamantium` the additional `freezer` option is currently silently dropped.

Resulting in an unintend behavior change observable in some noop failures. While certainly an interesting mutation, this mutation should be inserted explicitly, but not inside the noops.

[2016-09-30 10:21] knovoselic opened #644 "Testing a module - have to manually reload models"
I'm trying to use mutant with the following gem:
https://github.com/glooko/mongoid-embedded-errors

I've noticed that almost all mutations fail, even the most basic ones like replacing whole method with a `raise`. After some debugging it turns out that models used by specs (in spec/support/models) are not reloaded when mutant mutates `Mongoid::EmbeddedErrors` module, meaning the specs are always t

[2016-09-30 20:21] mbj commented on #644
Can you specify what exactly you mean by reloading?

Mutant assumes that your constants are all loaded before mutations are inserted. If your code also inserts constants, this invariant is broken.

[2016-10-04 09:13] knovoselic commented on #644
@mbj Unless I do `remove_const` and then `load` the file which defines the class, it looks like the class is always using the first version of code, not mutated one. I'm trying to test the following module:
https://github.com/glooko/mongoid-embedded-errors/blob/d1c77f496be0bf786eecc7fa2cbf76a3a7868b56/lib/mongoid/embedded_errors.rb

I'm not sure if this is happening because I'm testing a module, o

[2016-10-10 01:00] #581 closed

[2016-10-10 01:00] #582 closed

[2016-10-10 01:00] #572 closed

[2016-10-10 01:00] #587 closed

[2016-10-10 02:31] dgollahon commented on #591
@backus: Looks like this was addressed in https://github.com/mbj/mutant/pull/633

[2016-10-10 02:39] backus commented on #591
Thanks

[2016-10-10 02:39] #591 closed

[2016-10-10 03:04] dkubb commented on #593
Closed by #650

[2016-10-10 03:04] #593 closed

[2016-10-10 09:08] mbj commented on #574
This was addressed via #651

[2016-10-10 09:08] #574 closed

[2016-10-11 18:57] #589 closed

[2016-10-15 13:55] tjchambers commented on #497
As I have proven on real code this is a silent killer because of how AR does not consider an `Array` and `Set` to be similar.

[2016-10-15 17:30] mbj commented on #497
WDYM by silent killer?

[2016-10-16 01:39] #77 closed

[2016-10-16 02:25] #607 closed

[2016-10-20 22:40] backus opened #673 "Mutate method body to `super`"
This mutation would serve the purpose of what https://github.com/mbj/mutant/issues/108 was intended to do

[2016-11-04 17:22] backus opened #689 "Add mutation from `foo === bar` → `bar.kind_of?(foo)`"
Threequals might be more powerful than the use case requires

[code]

[2016-11-04 17:53] dkubb commented on #689
This is more a style issue, but I tend to prefer `#kind_of?` due to it's similarity to `#instance_of?`, which is a stronger form of the test.

[2016-11-04 17:55] backus commented on #689
Sure I can make it `kind_of?`

[2016-11-07 22:19] backus commented on #638
Closing this since it just duplicates #639

[2016-11-07 22:19] #638 closed

[2016-11-07 22:24] backus commented on #301
Closing in favor of #639 which has a better description

[2016-11-07 22:24] #301 closed

[2016-11-21 04:24] Winbobob opened #690 "Problem of running mutant on Rails application"
Hi, I tried to use mutant on a [rails application](https://github.com/Automated-Program-Repair-in-Expertiza/mutant_rails_app) by following the [video](https://www.youtube.com/watch?v=G7c0_FlR-R4).

Basically it is a very simple rails application. And I try to run mutant by the command `RAILS_ENV=test bundle exec mutant -r ./config/environment --use rspec PostsController -j 1`. And I got an error
[

[2016-11-21 15:28] Winbobob commented on #690
Yesterday I did not realize that `mutant` and `mutant-rspec` shared the same repo. When I changed the Gemfile as following, the error above is gone.
[code]

Now I got the error `/activesupport-4.2.6/lib/active_support/dependencies.rb:274:in require': cannot load such file -- rspec/rails (LoadError)`. I am trying to fix it.

[2016-11-21 19:48] Winbobob commented on #690
After I added `gem 'rspec-rails'` in Gemfile test group, mutant works!

[2016-11-21 19:48] #690 closed

[2016-11-21 20:59] mbj commented on #690
This is not a mutant issue, more exposed a bug in your spec setup. Glad it works for you now. Feel free to PR a readme improvement if you think it could be better for your case. Happy mutating.

[2016-12-31 23:42] compwron opened #695 "Tests passing locally but 16 'found a bug in mutant / unparser' errors for 18 tests"
I am seeing the error ```Original code was inserted unmutated. And the test did NOT PASS.
Your tests do not pass initially or you found a bug in mutant / unparser.``` but my tests do pass locally and in my travis.ci build. If you have time, I'd love to understand more about what is happening here. I want to run mutant against my codebase so that I can improve how I test.

This might be related to

[2017-01-01 00:03] backus commented on #695
@compwron can you try running with `--jobs 1` and let me know if you still run into neutral failures?

[2017-01-01 00:31] compwron commented on #695
Yep that was it. Weird, I thought I had made the tests parallelizable. Thanks! https://gist.github.com/compwron/df87d339fbcd5cac441c3cec40474e6b

[2017-01-01 00:31] #695 closed

[2017-01-01 00:34] mbj commented on #695
@compwron Mutant has a build in heuristic to detect non parallelizable tests, that one was reporting. Rule of thumb: Whenever you see noop errors reported: Do not trust the results.

[2017-01-08 12:13] #571 closed

[2017-01-11 10:49] ch1c0t opened #697 "Mutant 0.8.12 doesn't work on MRI 2.4"
The latest release published at Rubygems(0.8.12) doesn't work on MRI 2.4:
[code]
Hence, I have to use the upstream. Do you plan to issue a new release anytime soon?

[2017-01-11 14:22] mbj commented on #697
We'll have to update the `regexp-parser` dependency once its 2.4 support was released: https://github.com/ammar/regexp_parser/pull/30

[2017-01-11 14:23] mbj commented on #697
I'll try to do the update later the day. But according to my OSS policy I'll not give any guarantees, mostly because mutant development is driven by my commercial needs and my clients are all on 2.3 right now.

[2017-01-11 18:31] ch1c0t commented on #697
@mbj Sure. Thank you for the quick response.

[2017-01-12 03:49] kbrock commented on #630
I see you have added the following suggestion to my code:

[code]

I'm not sure why I would rather use `fetch` over the basic `[]`.

Is there a link to a style guide for this preference or I guess any mutant preference really? (e.g. https://github.com/styleguide/ruby or https://github.com/bbatsov/ruby-style-guide)

[2017-01-12 04:16] backus commented on #630
@kbrock `#fetch` makes more sense there over `#[]` if the key is guaranteed to be present. I think that supersedes the style aspect. Also FYI this PR is not an implementation of the issue you're talking about.

I plan to build this as a third party extension for mutant when I have time. I can tell you now though that @mbj is not interested in any preference system.

[2017-01-12 04:18] mbj commented on #630
Not unless I've a comercial reason to do so. I'm fine to refactor mutants internals to support these as extensions, if the mutant code base benefits from this change (and AFAIK it will). I've discussing the API details with @backus in channel.

[2017-01-12 05:12] kbrock commented on #630
To answer my question: http://stackoverflow.com/questions/16569409/fetch-vs-when-working-with-hashes and http://devblog.avdi.org/2009/03/16/go-fetch/

and lol - yes, makes sense that mbj doesn't want a preference system

[2017-01-12 05:27] kbrock opened #698 "Introduce a Style Guide"
When a failed mutation comes across, I need to decide if I should change the code or the test.

Sometimes the decision is easy. The code can be tightened, or the test can be tweaked/ enhanced.

But other times I first need to understand more.

A style guide could state the reasoning behind mutations. This would educate developers so they could better make the decision, and possibly know what kind

[2017-01-12 05:35] backus commented on #698
I think starting a guide is a good idea. How about calling this a "Mutation Guide" instead of a style guide since mutations shouldn't only have a style component to them?

[2017-01-12 05:52] backus commented on #698
I'll have to fiddle with whether this can work, but this project already has pretty good yard docs. We could use the [Custom YARD Tag](http://www.rubydoc.info/gems/yard/file/docs/Tags.md#Adding_Custom_Tags) feature to add a `@mutation #[] -> #fetch` tag or something that we can then really easily extract and dump into a guide

[2017-01-12 06:29] dgollahon commented on #698
I'd be willing to put some work into this effort. I've discussed similar ideas with @backus offline a few times. It would certainly be helpful to the newcomer (though I know that's not what @mbj is interested in optimizing for, which is fine) and, I think, generally educational.

[2017-01-12 06:45] backus commented on #698
Cool so it is pretty easy to attach a custom yard doc and then extract that information:

[code]

[code]

[code]

[2017-01-12 16:00] mbj commented on #698
@backus I outlined a strategy to attach more metadata to mutations in channel multiple times, and we already have similar issues, like https://github.com/mbj/mutant/issues/395.

I'm willing to refactor mutants internals alongside the ideas I outlined in channel.

[2017-01-26 23:00] backus opened #700 "Mutant should not emit equivalent mutation `self.foo` → `foo()` when an lvar with the same name is present"
Example code

[code]

Corresponding example spec that should be full mutant coverage

[code]

Tests pass:

[code]

Mutant emits equivalent mutation:

[code]

In a similar vein to https://github.com/mbj/mutant/issues/615, this is basically just a difference in style when a local variable is present with the same name. Without the local variable I like this mutation.

[2017-01-26 23:01] backus commented on #700
I'll fix if you agree it is a bug @mbj

[2017-01-26 23:06] mbj commented on #700
Its not a bug. Let me explain: `self.foo` where `foo` can be used is redundant AST.

`foo()` has the AST: `(send nil :foo)`, and its a form where you can reach any private method. Its the implicit send to self.

Where `self.foo` has the AST `(send self :foo)` where you could NOT call private methods. `self` is just a stand in for ANY possible receiver, that by chance just was `self`, its the expli

[2017-01-26 23:06] #700 closed

[2017-01-26 23:09] backus commented on #700
Heh I was hoping you wouldn't make the AST argument. I don't think the argument from the perspective of the AST is compelling at all. It is your tool though so alright.

[2017-01-26 23:11] mbj commented on #700
Forget the AST, think about the source of the problem as the syntax.

If you want a private method send to `bar`, but you cannot because of a clash with an lvar, you should fix it via syntax that does not clash, not changing to a more powerful send primitive that can reach foreign objects.

[2017-01-26 23:11] mbj commented on #700
Summary: You intend to send to self, and should use a primitive that sends to self, not a primitive that sends to any object but than you instruct that primitive to send to self.

This is like talking to someone in the same room with a cellphone, its redundant.

[2017-01-26 23:15] backus commented on #700
I'm not convinced that doing `self.foo` is more powerful than `foo`. I would agree with that for `any_receiver_besides_self.foo` but you can't define an lvar named `self` so I don't think there is anything more powerful here. You could even flip the argument on its head and say `self.foo` is more primitive because then you are demonstrating that you are calling a public method while `foo()` could

[2017-01-26 23:17] mbj commented on #700
Its about the "thing that can send to any object" vs "thing that can send only to myself".

If you talk to yourself, use the syntax that can only talk to yourself.

[2017-01-26 23:26] dgollahon commented on #700
Then that's really more of a syntax preference, right? I think it's also why @backus opened the issue to begin with: one is not more correct than the other, semantically.

[2017-01-26 23:27] mbj commented on #700
Its a primitive preference. If the lvar would not be present, you'd use the primitve that can only talk to self. If the lvar is present you should still use it.

[2017-01-26 23:30] dgollahon commented on #700
Right, I'm just saying that's a matter of taste, not semantics. It's your project, of course, but imo it'd be best if mutant minimized the number of equivalent programs it emits.

[2017-01-26 23:32] mbj commented on #700
If you used `self.foo` where `foo()` is sufficient its not equivalent semantics. Its redundant primitive use. Fix it. Or have a case where the receiver is sometimes a foreign object to counter mutants reduction of `receiver.method` to `method`.

[2017-01-26 23:39] dgollahon commented on #700
I understand that the AST is different, but i can't think of a case where the result could possibly be different--that's why i'm saying it's equivalent. Is there a case where you could get a different result by calling `foo()` instead of `self.foo` (excluding the fact that `self.foo` has narrower access to methods)?

[2017-01-26 23:41] dgollahon commented on #700
I suppose the same argument applies to `self.foo` v.s. `foo` though when a `foo` lvar is absent.

Still doesn't seem meaningful to me to enforce using `()` over `self.` though.

[2017-01-26 23:43] mbj commented on #700
Again. its not equivalent. Its equivalent under the assumption that `self.foo` does the same thing as `foo()` which it definitively does not.

The difference may not be observable in the cases you have in mind, but it exists. Mutant "fixes" a high number of "equivalent" problems via: Telling the user to accept one form over the other, and only mutate in one direction. This way you can eliminate th

[2017-01-29 06:06] dgollahon commented on #615
This issue was moved to backus/mutest#22

[2017-01-29 06:08] dgollahon commented on #169
This issue was moved to backus/mutest#23

[2017-01-29 19:07] mbj commented on #615
@mvz I believe this is a duplicate of an existing issue we agreed upon fixing. Till I've the time to reference the original I'll keep it open.

I agree on fixing it, while you cite #309 I do not agree its at all the same case. Even when this statement may spark new discussions on #309. Please do not, I do not want to lock down another discussion, hint, hint, hint.

[2017-01-29 21:37] dgollahon commented on #615
@mbj: I think this is the original issue for fixing `super()` when there are no arguments (i don't see another instance in the tracker) as it has been open for months. If it showed up in your github notifications again it is probably because I mistakenly commented on it last night (and then deleted my comment when I realized it was the wrong issue).

[2017-01-30 00:39] mbj commented on #615
Hah, I was actually curious on why that old issue showed up. Thx for clearing that up for me.

[2017-01-30 00:54] dgollahon commented on #615
Yeah, sorry about that xD

[2017-02-18 15:56] seza443 opened #702 "LoadError "mutant/mutator/node""
I'm trying to run `RAILS_ENV=test bundle exec mutant -r ./config/environment --use rspec User` on my Rails project but I get the error

[code]

Actually running `mutant` or `bundle exec mutant` give the same error 😞

Any help would be great 😄

[2017-02-18 19:41] mbj commented on #702
@seza443 Is `lib/mutant/muator/node.rb` present in your filesystem (relative to the mutant intstallation directory?

If not present: Your gem is corrupt.

If present: Rails inference via its crazy loading hacks.

[2017-02-18 23:00] seza443 commented on #702
$ bundle show mutant
      /var/lib/gems/2.2.0/gems/mutant-0.8.12

and then

    $ ls /var/lib/gems/2.2.0/gems/mutant-0.8.12/lib/mutant/mutator/node.rb
      /var/lib/gems/2.2.0/gems/mutant-0.8.12/lib/mutant/mutator/node.rb

So yes it is indeed present.

To give a bit more details, I had the error when running Ubuntu in a VM.
But I succeed to run mutant on [Bash on Ubuntu on Windows](https://en.wi

[2017-02-19 19:52] mbj commented on #702
@seza443 I'm fine to help you a bit on that one.

Can you verify your `$LOAD_PATH` containts the mutant lib directory the time the logical require path `mutant/mutator/node` gets loaded?

You can inspect `$LOAD_PATH` just before the failing require happens.

[2017-02-20 10:12] seza443 commented on #702
Ok, I've added `print $LOAD_PATH` in the file `/var/lib/gems/2.2.0/gems/mutant-0.8.12/lib/mutant.rb` just before line 91

And running `bundle exec mutant` outputs:

[code]

[2017-02-20 15:52] mbj commented on #702
@seza443 Can you post your `Gemfile` and `Gemfile.lock`?

[2017-02-20 16:43] seza443 commented on #702
[Gemfile](https://github.com/GeoHealth/HAppi_backend/blob/df93a2cd18b4ceb365f8e2e69fbaa6f9d6f24965/Gemfile) and [Gemfile.lock](https://github.com/GeoHealth/HAppi_backend/blob/df93a2cd18b4ceb365f8e2e69fbaa6f9d6f24965/Gemfile.lock)

[2017-02-20 16:46] mbj commented on #702
@seza443 At the location of the print can you post the result of `p method(:require)` and `p method(:require).source_location`.

Right now I see:

* The gem is correctly installed
* The Gemfile contains mutant (transitively via `mutant-rspec` which is recommended as default)
* The `$LOAD_PATH` at the failing require is correctly set-up

Hence I conclude the require mechanism is overwritten by some

[2017-02-20 17:06] seza443 commented on #702
`p method(:require)` gives

[code]

and `p method(:require).source_location` gives
[code]

The machine where I'm running this must be mis-configured somehow because it works fine on Travis-CI and my other machine 🌵

[2017-02-20 17:10] mbj commented on #702
The method does not appear to be overwritten.

@seza443 interesting, can you delete and re-install the gem? It could be that the machine you are running has some FS issues that depending on the sequence of FS commands makes the file being found our not.

[2017-02-20 18:31] seza443 commented on #702
Hey it worked!

Well actually, I reinstalled by specifying the path: `bundle install --path vendor/bundle` and voilà! 😃

Thank you @mbj

[2017-02-20 19:37] mbj commented on #702
@seza443 I suspect you should now audit your FS and find and fix problems with it. IMO all your data is in risk. But thats not a topic for mutant as hopefully nobody does implement an FS (or anything non trivial) in Ruby anway :P

Closing this.

[2017-02-20 19:37] #702 closed

[2017-02-20 22:28] mbj opened #703 "Mutate `Integer` to something stronger."

[2017-02-20 22:36] mbj opened #704 "Mutate `Integer` to something stronger"
Mutant rightfully mutates `object.to_i` to `Integer(object)` as `#to_i` has various fallback semantics. But in practice: Many times `Integer` accepts formats the application are not intend to be silently accepted. `Integer` accepts many alternative formats such as octal or hexadecimal.

The proposed mutation would change `Integer(object)` into `Integer(object, 10)` / `Integer(object, 8)` and `Inte

[2017-02-22 12:23] matthias-g opened #705 "Speedup mutant by using in memory database"
I have a setup for mutant using rspec and fixtures. Because I noticed that the database interactions make up a huge part of the runtime of mutant I'm trying to use an sqlite in memory database.

I've added the following lines to `rails_helper.rb` and they make it work for running `bundle exec rake spec`.
[code]

But mutant fails to load the fixtures:
[code]

It looks like mutant does not use the i

[2017-02-22 12:27] andrzejkrzywda commented on #705
I'm not sure if this is the same case, but it may be helpful to look at how we solved a similar problem:

https://github.com/arkency/rails_event_store_active_record/blob/master/spec/spec_helper.rb#L9-L29

[2017-02-22 18:15] mbj commented on #705
@matthias-g You are on the right track and what @andrzejkrzywda told you is correct

Context: Mutant offers a high level of concurrency and does its "best" to isolate concurrent executions from each other. If your code uses a shared medium (the database in this case) you have to isolate the DB accesses by yourself.

There are various more advanced patterns possible ot reduce the time spend on re-s

[2017-02-22 18:15] #705 closed

[2017-02-22 18:18] #703 closed

[2017-02-23 10:36] matthias-g commented on #705
Thanks for your quick replies!

The solution actually works but unfortunately it doesn't improve the performance in my case.
As my schema is more complex as in the file linked by @andrzejkrzywda the overhead introduced for loading the schema is so high that it negates the speedup of the in memory database.

[2017-02-23 11:42] matthias-g commented on #705
Just in case someone else has a similar setup with rspec and fixtures:

To load the fixtures I was using
[code]

I've found that the performance for mutant improves when I remove the `fixtures` in the `describe` and instead use `bundle exec rails db:fixtures:load` before running mutant to load the fixtures into the database.

[2017-02-23 21:03] mbj commented on #705
@matthias-g Yes, the constrant overhead to re-seed the DB can eat up the parallel execution gains.

One possible solution is to share the already loaded schema with the mutant test executions, removing the overhead. Mutant forks per mutation hence if the schema is already loaded at this point all writes will be automatically discarded.

Conceptually as you'll never run your production application

[2017-04-05 19:32] mbj opened #708 "Mutate `*foo` into `foo`"
Also applies to `**foo` to `foo`.

[2017-05-08 12:29] betesh commented on #338
I opened sparklemotion/nokogiri#1635 and got this response from @flavorjones:

[code]

I don't feel that I am equipped to answer these questions.  Is there anyone here who thinks they could do a good job of answering these questions and starting a constructive dialog between the nokogiri team and the mutant team?

[2017-05-08 12:39] flavorjones commented on #338
See my comment at https://github.com/sparklemotion/nokogiri/issues/1635#issuecomment-299855319 for a more complete explanation of why I don't understand @betesh's request.

[2017-05-08 12:59] mbj commented on #338
@flavorjones I've replied also.

You can see this as an LSP violation. You overwrite the native `Class#name` with a method that has a totally different implementation, a domain specific one.

A bit more formal: `Class` descends from `Module` and `Module#name` is [defined](http://ruby-doc.org/core-2.3.0/Module.html#method-i-name) as this:

As you are effectively creating an instance of class where

[2017-05-10 11:02] mbj opened #710 "Mutate `begin; foo; ensure; bar; end` to `foo; bar`."

[2017-06-02 22:24] MrJoy opened #713 "Command not found"
I'm getting `command not found` because the `mutant` script isn't being included in the path properly.  I suspect it's because this:

[code]

Should actually be this:

[code]

[2017-06-02 22:25] MrJoy commented on #713
(For clarity, `bundle exec mutant` works, `mutant` does not -- unlike other gems with executables.)

[2017-06-02 23:31] mbj commented on #713
@MrJoy This is an interesting one.

It appears that `gem.executables` should be interpreted relative to `gem.bindir`, which AFIAK defaults to `bin`, hence it *should* work already.

http://guides.rubygems.org/specification-reference/#bindir
http://guides.rubygems.org/specification-reference/#executables

I just tested it locally on `chruby` / `Linux`.

Before changing it I'd like to know what caus

[2017-06-07 23:46] MrJoy commented on #713
Ok, so...  Embarrassing thing:  I just went to try it out again and... it worked.  I thought maybe there's a difference in my environment it must be coming from some difference between doing a `gem install mutant` vs. letting Bundler install it.  The branch I'm on doesn't have it in the `Gemfile` / `Gemfile.lock`, but the gem is still present from my earlier tinkering.  However, running `bundle cl

[2017-06-07 23:46] #713 closed

[2017-06-20 08:08] lnussbaum opened #714 "mutant-rspec not working out of the box"
I had trouble getting mutant-rspec to work on ruby 2.3.3.
I got this:
[code]

The mutant-rspec gem was installed.

I did not understand the issue, but "fixed" it like that:
[code]

Then I ran into another issue:
[code]

Which I fixed by installing memoist, and adding:
[code]

[2017-06-20 09:07] mbj commented on #714
@lnussbaum Does  `bundle exec mutant ...` fix this? Mutant is (intentionally) not designed to work without.

[2017-06-20 12:49] lnussbaum commented on #714
it seems to work with bundle exec. My main motivation for using it outside bundler is that I would prefer not to add mutant to development dependencies, because I don't use it systematically.

[2017-06-20 12:49] lnussbaum commented on #714
(also, none of the examples in the README mention bundle exec, so I didn't think of using it)

[2017-06-20 13:31] mbj commented on #714
I see this. But there is no way mutant can (without bundler) ensure by itself that all dependencies are present in non conflicting versions.

A `gem install mutant` followed by `mutant` is not guaranteed to ever work over time in a constantly changing gem environment.

Hence my preference to only ever support it inside bundler. I've to fix the README to always show `bundle exec` prefixed execution

[2017-06-29 09:59] Ana06 opened #715 "I get an error when running mutant in Rails"
I am trying to use `mutant-rspec` in a Rails project. So, that means I have an `app` directory and for example inside it I have a `models` directory and inside the `user.rb` class. And the test for this file is in spec/models/user_spec.rb.

I added the gem to the Gemfile and then I tried to mutate user tests running:

[code]

[code]

[code]

Am I doing something wrong or this is a bug?

[2017-06-29 11:45] mbj commented on #715
@Ana06 Looks like both, you are doing something wrong and there is a bug!

What you likely do wrong is not forcing the constant to exist, its hard to tell what you are exactly doing without seeing the repo.

But there is a bug in the rspec integration that should not crash on non expected rspec descriptions.

Is there a chance you can publish a minimal reproduction of this?

[2017-06-29 12:19] Ana06 commented on #715
I can send you the repo :wink: Here is the project with the gem on it already:
https://github.com/Ana06/open-build-service/tree/mutants

[2017-06-29 12:44] mbj commented on #715
@Ana06 I've looked at this repository, and found the api subproject.

Running the specs requires setup I do not have the time to do. Do not want to setup mysql right now.

But I've pushed a branch (without specs yet) that may get you past the obvious mutant bug. Can you try your project against this PRs branch? https://github.com/mbj/mutant/pull/716

[2017-06-29 15:35] Ana06 commented on #715
@mbj

Sorry, I should have told you that the Rails project is in the api directory :confounded:

It works! :tada: Thank you  so much for taking the time to look at the repository and to fix the bug! :wink:

[2017-06-29 17:02] mbj commented on #715
@Ana06 I'll try to get this done properly and have it in a release.

OT: This change does just fix a crash where mutant could NOT not a good test for a mutation, and while it let you get past the crash, it shows your project does not (yet) to be well aligned with mutant test selection criteria and mutation testing will be very low performance.

[2017-06-29 18:15] ojab commented on #697
Any update on this?

[2017-06-29 20:39] mbj commented on #697
@ojab No, no OSS time. But its an easy contribution feel free to try by yourself.

[2017-06-30 05:16] ojab commented on #697
Done https://github.com/mbj/mutant/pull/717
Also I want to have parser updated to '~> 2.4.0' (there was no syntax additions since currently used '~> 2.3.1', so only version bump is needed without further changes to unparser/etc), but I'm stuck in mutant/unparser/devtools interdependencies.

Any advice how PRs should be done?

[2017-06-30 08:59] Ana06 opened #718 "Possible bug"
I get errors like:

[code]

[code]

Possible bug? Maybe related to https://github.com/mbj/mutant/issues/715

[2017-06-30 11:35] mbj commented on #697
@ojab some people just created PRs for these, should land in their master / release "soon".

[2017-06-30 11:37] mbj commented on #718
@Ana06 Neutral failures are "these days" typically indicating problems in your spec setup, and far less likely indicating problems in mutant itself.

at the times mutant / unparser where less stable this was typically the inverse. Do these neutral failures disappear if you use `--jobs 1`? If so its a *very* strong indication your test suite misses required isolation properties.

We can discuss thi

[2017-06-30 11:37] mbj commented on #718
OT: I've to change the wording of this message to reflect this.

[2017-07-09 18:37] joneshf opened #721 "Visualizing mutant"
First things first: mutant is amazing, thanks for making it!

The output is pretty well formed for terminal usage. The output is also pretty daunting if you don't know what you're looking at. A nice thing to have (in addition to the terminal output) would be some way to visualize the mutations in a browser. Presenting the information in a way that has the context of the surrounding code would make

[2017-07-10 09:35] mbj commented on #721
@joneshf This was discussed multiple times in the past. The conclusion is:

* Yes I support this
* The required APIs internally exist already, so production of the results is decoupled from rendering them
* I've no time to make it by myself
* Ideally simply start a PR and ask for review once you get something working and work with us through the review process
* For details find me in the mutation

[2017-07-11 08:00] mknapik commented on #370
@mbj Is this feature still on the roadmap?
I wanted to integrate mutant with https://github.com/prontolabs/pronto so I need some kind of structured report to pass messages to the tool.

[2017-07-11 12:28] mbj commented on #370
@mknapik This project has no roadmap, and is only driven by my private interest (that is not focused on ruby recently) or commercial needs.

I'm open to accept contributions, and I recently was contacted by https://github.com/joneshf in  https://github.com/mbj/mutant/issues/721 who plans something similar.

If you need a guarnatee this feature lands there is also the option to contract me to imple

[2017-07-11 14:59] mknapik commented on #370
@mbj Thanks for fast answer. I'm developing pronto-mutant for educational purposes so I'm not interested in hiring anyone.
I was thinking about implementing a reporter as part as a new gem but it probably makes more sense to put it in mutant itself for the benefit of all mutant users. Although, I prefer to ask maintainer first to avoid waste of time or duplicating work.

It's good to know the feat

[2017-07-11 18:39] joneshf commented on #370
I haven't got a plan of action here yet, nor do I want to take precedence over your contributions. Feel free to work however. @mbj gave some great advice in the #mutant channel on slack: https://mutation-testing.slack.com/archives/C0A0RSER3/p1499706302206963.

[2017-07-11 20:45] mbj commented on #370
The work @mknapik and @joneshf plan to do intersects only slightly but touches the same subsystem `Mutnat::Result*` as input. Hence I think there is some chance for me only having to explain certain things once.

[2017-07-16 21:44] tjchambers opened #723 "warning: toplevel constant AST referenced by Mutant::Parser::AST"
Working on a new Rails project mutating it. I am using 0.8.14 version of mutant - Rails is 4.2 and Ruby is 2.3.3.

On every mutation startup I am seeing something I have not seen before (see below) -repeated messages about references made by mutant to `AST`. I have no AST constant in the RAILS project, but there are loads of Gems.

I suspect some conflict or mis-configuration on my part.

Thoughts

[2017-07-16 21:46] mbj commented on #723
@tjchambers It appears that your are not using an official release, as your bundler path references a git commit that is not even in the repo. Would you consider changing to use a non git source and verify the problem is still present there?

[2017-07-16 21:49] tjchambers commented on #723
Let me try that.

[2017-07-16 21:52] tjchambers commented on #723
Appears the same (albeit obviously the non git sourced mutant)

[code]

[2017-07-16 21:53] tjchambers commented on #723
Please note - other than the message I see no incorrect behavior and mutant appears to work as expected.

[2017-07-16 21:54] mbj commented on #723
@tjchambers Seems to be a change in how the parser gem places the `AST` constant, can you try the oldest possible `parser` gem to verify this change removes the warning? If so I'll change mutant to adapt in future releases.

[2017-07-16 21:55] tjchambers commented on #723
You used the term `oldest possible`. DO you mean to use the absolute MOST RECENT one?

[2017-07-16 21:59] tjchambers commented on #723
The parser gem in Gemfile.lock shows 2.3.3.1 - I believe there is a 2.4 released.
My AST gem is 2.3.0 (for completeness).

I will update those to see what transpires.

[2017-07-16 22:12] mbj commented on #723
I was assuming you where using the most recent, and as I've never seen this message before this behavior was introduced recently I was assuming that a downgrade might help to validate my hypothesis.

[2017-07-16 22:14] tjchambers commented on #723
I updated to Parser 2.4.0.0 and it still generates the warnings.

Be clear that other projects using the same 0.8.14 of mutant (not sure of versions of other tools) do NOT generate these warnings - only this project so far.

[2017-07-16 22:14] mbj commented on #723
@tjchambers can you add an explicit require for the `ast` gem via `--require ast` ?

[2017-07-16 22:15] tjchambers commented on #723
in the command line I presume?

[2017-07-16 22:19] tjchambers commented on #723
[code]

[2017-07-16 22:24] mbj commented on #723
@tjchambers Is it possible to reduce this to a minimal repro?

[2017-07-16 22:30] tjchambers commented on #723
That is a reasonable question, but I suspect in that process I would deduce the root cause or at least the locus for the warning.

Some details:

- It matters not what I mutate (empty class with empty specs still generates the same warnings)
- It does not happen on other projects - or at least this is the first one I have seen it on.
- My recall is when I was running 0.8.12 against this same proje

[2017-07-24 11:42] digitalronin commented on #723
I'm having this issue as well, on a non-rails project; https://github.com/ministryofjustice/repo-audit

I've tried to create a minimal reproduction of the problem, but so far I haven't been able to make it happen. Please feel free to use it as a starting point, if you do get around to trying to reproduce the problem;

https://github.com/digitalronin/mutant-ast-warning

I'll put a bit more time int

[2017-07-24 14:47] digitalronin commented on #367
I think I have a related issue. In my project, mutant is telling me that my namespace is unnecessary, like this;
[code]
But, if I remove the `RepoAudit::` from that statement, my specs fail.

Can anyone point me in the right direction for how to investigate this?

[2017-07-24 14:53] mbj commented on #367
@digitalronin Its very likely that the specs mutant uses to kill this mutations are not covering the specs that fail on manual mutation application.

Which likely indicates your tests for this are in the wrong location.

[2017-07-24 16:15] digitalronin commented on #367
Of course. I should have thought of that. Thanks, I'll look into it.

[2017-07-24 16:30] mbj commented on #367
@digitalronin Note that mutant prints next to each subject (and the N alive mutations) the effectively selected specs. You can diff these against your assumption.

Also feel free to join the mutation testing slack channel to discuss your case in more detail.

[2017-07-25 09:23] digitalronin commented on #367
OK, in case someone else has a similar problem, in my case it went away when I replaced this;
[code]
...with this;
[code]
After I did that, the namespace really was unnecessary.
So, rspec was wrong, mutant was right, and the module declaration was introducing ambiguity.

[2017-07-25 12:29] mbj commented on #367
@digitalronin Yeah, in general

[code]

Is "not" what people think. Its not a short form for:

[code]

[2017-07-25 13:55] digitalronin commented on #367
That's really interesting. Could you clarify that a little? What's the difference between the two?

[2017-07-25 14:14] mbj commented on #367
@digitalronin The constant scope.

[code]

[2017-07-25 14:25] digitalronin commented on #367
Got it. Thank you.

[2017-08-18 18:41] jekuta commented on #723
@digitalronin I took a look at the repo you linked. This bug seems to be an unfortunate collision between awesome_print gem and mutant.

In mutant there is the following line: `node.children.grep(::Parser::AST::Node)` https://github.com/mbj/mutant/blob/master/lib/mutant/ast.rb#L39. Unfortunately the 1.7.0 version of awesome_print monkey_patches Array#grep https://github.com/awesome-print/awesome_p

[2017-08-18 20:33] mbj commented on #723
@jekuta Thanks for your time on this. I did not find any time by myself.

This is an issue caused by a faulty 3rd party. Closing this.

[2017-08-18 20:33] #723 closed

[2017-08-20 16:40] digitalronin commented on #723
@jekuta Thank you very much for looking into this.

[2017-08-25 00:59] tjchambers commented on #723
@jekuta thanks also from me for getting to the bottom. Most helpful.

[2017-08-31 07:34] paneq opened #724 "Splat operator & variable assignment mutated into identical code"
For such code:

[code]

mutant proposes an AST change which results in generating identical code:

[code]

Reproduced here: https://github.com/paneq/mutant-splat-minimal-reproducable-problem

Run `bundle exec mutant --use rspec "Yo"  --require yo --include .`

[2017-09-11 05:36] #644 closed

[2017-09-11 17:10] mbj commented on #644
@knovoselic Mutant does not support subjects that mutate the constant space after loading the subject under test.

You want to force your subject under test to have a fully expanded / populated constant scope before mutation testing starts. You can do this via creating a separate 'require entrypoint' mutant can use to load your subjects. Use `--require your/project/all-autolloads-expanded` or simi

[2017-09-13 05:01] knovoselic commented on #644
@mbj thanks, that's good to know!

[2017-09-20 18:21] rdodson41 opened #725 "[Rails] FactoryGirl dynamic attributes cause neutral spec failures"
In my Rails application, I use [FactoryGirl](https://github.com/thoughtbot/factory_girl) to create test objects for my specs. It appears that FactoryGirl [dynamic attributes](http://www.rubydoc.info/gems/factory_girl/file/GETTING_STARTED.md#Dynamic_Attributes), such as, for example, `identifier { SecureRandom.uuid }`, cause neutral spec failures when they are run via Mutant.

The following is the

[2017-09-20 19:40] mbj commented on #725
@rdodson41 I doubt this is a bug in mutant, and more a bug in your specs that fails mutant invariants.

I suspect that you leak instances generated with FB and this does not get detected in case they have static attributes, where with dynamic attributes under concurrency it causes mismatches between (leaky) spec setup and spec execution.

The error message in mutant should be updated to NOT point

[2017-09-20 20:02] rdodson41 commented on #725
@mbj `--jobs 1` has no effect:
[code]

I am pretty certain that my tests are not leaking data - my application is fairly simple, and does not use any unusual custom configuration of Rails, RSpec, and FactoryGirl, as far as I know. That said, I will try to reproduce this issue in a minimal, public repository and link to it here.

[2017-09-20 20:49] rdodson41 commented on #725
@mbj also, if you have a moment, would you mind explaining in further detail what you mean by "mutant invariants" and "invariant violation", as well as what kind of leaky spec setup you think could cause this?

[2017-09-20 21:13] mbj commented on #725
@rdodson41 I need to write the invariants down in a central location referenced from the readme. I explained them often in slack and maybe even in GH comments.

But right now I cannot expand as I'm busy. Feel free to search GH / Slack. Sorry I know this a disgusting answer.

[2017-09-20 21:37] rdodson41 commented on #725
@mbj No worries, I understand completely; I will look into previous GitHub issues and comments. Per your request, I created a public repository of a minimal version of my application: https://github.com/rdodson41/mutant_factory_girl.

I just noticed something interesting: this issue occurs for me when I use Ruby v2.4.0 and v2.4.1, but not v2.4.2. The following is the output of `bundle exec mutant

[2017-09-20 22:29] rdodson41 commented on #725
Similarly, this issue occurs in Ruby v2.3.4 but not in v2.3.5.

[2017-11-22 19:27] mbj opened #730 "Add mutation from Enumerable#all? to #any and vice versa."

[2017-12-21 00:31] mbj opened #732 "Add mutation from `send(:foo) -> foo`. (with arguments)"

[2018-02-02 01:21] samdturner opened #736 "Dependency conflict when using rspec-core 3.7.0"
From `mutant/mutant-rspec.gemspec`, it appears that `mutant` is dependent on `rspec-core '>= 3.4.0', '< 3.8.0'`:
[code]

We are using `rspec-core 3.7.0`, so I would expect that `mutant` would have not trouble depending on this version. However, bundler complains that there is a dependency conflict .

In my `Gemfile`, I have:
[code]

But when I run `bundle install`, I get:
[code]

[2018-02-08 21:44] dogweather commented on #447
Hi, I'm coming back here because this subject really taught me a lot about Ruby and writing higher quality code. [This blog post about #to_a](http://zverok.github.io/blog/2018-02-02-to_a.html) reminded me of it.

I think it'd be great to have this concept written up somewhere as its own thing, maybe a blog post. I'd also really like to have these tests in a linter of some kind, like a Rubocop rule

[2018-02-09 11:19] mbj commented on #447
@dogweather Feel welcome to write up docs about the subject, do talks or blog. But I cannot take the stab on doing this, when while I like the suggestion (and your comment is one?).

I'm simply to busy with paying clients (and getting more paying clients) than give away free work in the OSS.

I welcome PRs that add docs, but I cannot guarantee I can review them fast.

[2018-02-09 11:20] #447 closed

[2018-02-09 11:20] mbj commented on #447
(reopen was a mistake, clicked wrong button).

[2018-02-23 15:26] felixvf opened #737 "Mutation "x.to_int" to "Integer(x)" is not always good."
Suppose you have some code like

[code]

where `time` is a `Time` instance, then 'mutant' mutates this to

[code]

However, the original and the mutant are semantically equivalent. Furthermore, the suggested mutant is actually slower (because it does this and that and finally calls #to_i anyway).

In this specific situation,
1. how can this mutation be switched off manually (e.g. by some kind of c

[2018-02-23 15:54] mbj commented on #737
You cannot switch it of, mutant intentionally provides no switches. If you spotted equivalent semantics (from mutant point of view) you can always force one way via a message expectation. As this happens rarely enough it typically scales.

I've got test runtime type detection in a private fork of mutant, but I'll likely not end up releasing this in the OSS version.

[2018-02-23 15:54] #737 closed

[2018-02-23 15:55] mbj commented on #737
While I closed the issue, feel free to re-open in case my answer is not conclusive.

[2018-06-12 03:22] michaelherold opened #738 "Overeager mutation of `#to_i` leads to `unparser` nil bomb"
I have managed to reproduce this in a minimal example, but I am having a hard time finding where to add the test within Mutant and Unparser to contribute. I am happy to work on a fix if I can get some pointers on where to start!

## Reproduction

I made a reproduction script [here](https://github.com/michaelherold/mutant_to_i_bug) that you can pull down to see the bug in action.

Here's a quick wa

[2018-06-12 14:27] mbj commented on #738
@michaelherold But in unfortunate news, I'm super busy. Its very unlikely I can take a stab to fix that one "fast".

Mutants mutation tests in `meta` directory are relatively easy to extend, you can probably write a test that triggers the bug easily, and try a fix.

[2018-06-12 23:05] michaelherold commented on #738
No worries on being busy, I totally understand! I will give it a shot to
fix it myself. Thank you for the pointers.

On Tue, Jun 12, 2018, 9:27 AM Markus Schirp <notifications@github.com>
wrote:

[2018-06-17 22:28] #738 closed

[2018-06-27 20:33] #154 closed

[2018-06-27 20:33] #673 closed

[2018-06-28 22:15] grantneufeld opened #741 "0.8.15 with gem updates?"
What needs to be done to get the `release/v0.8.15` branch finished off and released? Is there anything we can do to help wrap it up?

Also, what would it take to upgrade the `parser` gem to 2.5, and `regexp_parser` to 0.5? Do those just need to be bumped in the gemspec, or is there a code conflict(s) to be resolved?

Thanks!

[2018-07-04 13:08] mbj commented on #741
Very likely there is also some work required to bump unparser to `2.5` AST changes.

Help / PRs apprechiated.

[2018-09-01 05:58] krowpu opened #743 "Mutant drops frozen string literal comment for unmutated code"
I have a file which contains the following code:

[code]

I have a test for this code:

[code]

Mutant fails with the following log:

[code]

[2018-09-03 08:07] mbj commented on #743
@krowpu Mutant needs to be made aware of the magic comment to reproduce it on insertion of mutations.

I doubt I've time to do it soon, until this specific bug is in the blocking path of my commercial activities. PRs welcome.

[2018-09-03 12:44] spikeheap commented on #736
This looks like it's resolved for RSpec 3.7 in 0.8.15.

[2018-09-03 12:46] spikeheap opened #744 "RSpec 3.8 support"
From `mutant/mutant-rspec.gemspec`, it appears that mutant is dependent on `rspec-core '>= 3.4.0', '< 3.8.0'`:

[code]

We are using rspec-core 3.8.0, and Bundler complains that there is a dependency conflict .

In my Gemfile, I have:

[code]

But when I run bundle install, I get:

[code]

[2018-09-03 15:00] mbj commented on #736
I'm closing this for now @samdturner if you have still the same problem, reopen and post here. My GH inbox is super busy from commercial activity I rarely see OSS popping up.

[2018-09-03 15:00] #736 closed

[2018-09-03 15:29] mbj commented on #744
I've created #745 that should address this, it also has a bit of backstory on why the restrictions on the rspec versions where like this.

[2018-09-06 13:46] mbj commented on #744
@spikeheap Interesting, can you elaborate a bit what exactly

is? I have a vague idea, but as I never used mutant outside "guarding a development iteration for weak semantics in code or tests" I'm super curious on how responsive clients are to what you are doing.

[2018-09-06 21:31] mbj commented on #744
@spikeheap k, this is actually more close to what I do on similar activities.

BTW: Retroactively applying mutant to a code base on CI is best done via using the `--since` feature. It allows automated incremental mutation testing that will only try to cover the current diff.

Feel free to ping me in private in case you see the need for hands on help with mutant on a specific clients code base. The

[2018-09-12 14:39] mbj commented on #743
This is part way (updating to a parser that has more infrastructure for this): https://github.com/mbj/mutant/pull/746

[2018-09-12 15:07] mbj commented on #741
Released via #748

[2018-09-12 15:07] #741 closed

[2018-09-12 15:08] mbj commented on #697
This was released a long time ago, closing.

[2018-09-12 15:08] #697 closed

[2018-10-06 14:13] mensfeld opened #752 "Fully qualified explicit match expressions should never crash mutant"
Example taken from Karafka:

[code]

It fails for this class: https://github.com/karafka/karafka/blob/master/lib/karafka/schemas/config.rb#L14

[2018-10-14 21:14] mbj opened #753 "Add MRI 2.5.1 build to CI"
I got reports the mutant test suite does not pass under 2.5.x, hence we have to assume something important is broken here.

[2018-10-14 21:15] mbj commented on #718
@Ana06 I'll close this one as you could not reply in time for the question if `--jobs 1` helps in your case.

Feel free to re-open when you can provide this information.

[2018-10-14 21:15] #718 closed

[2018-10-18 13:47] asilano opened #755 "[Rails] Mutant reports that it didn't do anything"
Pretty sure I must be doing something wrong here...

I have the small beginnings of a Rails 5, Ruby 2.5 project, ([here on github](https://github.com/asilano/free-dom/tree/restart) - note, the `restart` branch (I'm rebuilding an old project from the ground up)).

With `mutant-rspec` in the Gemfile, I run `RAILS_ENV=test bundle exec mutant -r ./config/environment --use rspec User`. Mutant reports:

[2018-10-18 13:50] mbj commented on #755
@asilano Your model has nothing to mutate: https://github.com/asilano/free-dom/blob/restart/app/models/user.rb#L1-L8

Mutant assumes that you can trust dependencies, but also it does not (yet) support class level mutations, only instance and singleton methods will be mutated.

So from mutants perspective there is nothing to cover, hence you get 100% right now. Start adding a method to see what wou

[2018-10-18 13:50] #755 closed

[2018-10-18 14:08] asilano commented on #755
Aha, that makes sense. And indeed, when I run it over `GamesController` it finds a whole bunch of issues because I haven't tested that at all yet.

So, do I have to run it over each class individually and specifically? I see that it takes a very long time, so I get why that's a good idea, but is there any way of widening the scope? For instance, I hoped that it might take wildcards, but `Game*` al

[2018-10-18 14:09] mbj commented on #755
Just use an app specific namespace `YourApp` and have all your classes below that namespace. Mutant can deal with `YourApp*`.

Also you should write some dummy tests that do not assert anything for untested code, this will make mutant much faster as it would not widen the test set if it finds a match for the current subject.

[2018-10-18 14:14] asilano commented on #755
Ok, that seems fair - `*` is a child match, rather than a wildcard. Am I right in thinking that Rails' top-level app-name namespace doesn't count? Which is fair enough, I just need to know.

[2018-10-18 14:15] mbj commented on #755
@asilano Yes `*` is a recursive namespace matching operator. I never had the reason to match namespace prefixes, so I did not implement it.

[2018-11-11 19:07] iSarCasm opened #757 "Rails with multiple test databases"
Hey, I love the way mutant works and what insights it provides into my Rails Unit specs.

But I dont want to change my tests in **any** way just to be able to see my Mutation coverage. At the same time I want to be able to run tests in more than 1 process. This introduces Database issues (deadlocks, etc.)

Is it possible to run mutant against multiple test databases the same way it is done in [par

[2018-11-11 20:34] mbj commented on #757
Thats an odd constraint, where does it come from, I've got some ideas on why such a requirement exists, and some are interesting. Its super unlikely that if you do not want *any* test-setup change you can easily parallelize tests.

That kinda contradicts strict interpretation of your first "do not modify anything" requirement. This does change your test setup.

Still to answer your question. Mutan

[2018-11-12 16:17] Winbobob opened #760 "Are Mutant results idempotent?"
Hi,

I tested same RSpec unit test (for Rails application) on Mac and Ubuntu. I set the timeout 5 seconds. The code used `build`keywords instead of `create` to set up`FactoryBot` test data. In theory, the code did not rely on testing DB. I just wonder whether it is because of the concurrency.

Below is the command I run:
[code]

 - On Mac, the coverage is `85.79%`. Below is the result:
[code]

 -

[2018-11-12 23:00] mbj commented on #725
Here is a good summary: https://github.com/mbj/mutant/issues/760#issuecomment-438034690

[2018-11-12 23:01] mbj commented on #725
@rdodson41 I'll close this as it not had activity for a while, feel free to look at https://github.com/mbj/mutant/issues/760#issuecomment-438034690 for inspiration. If its still a problem feel free to re-open.

[2018-11-12 23:01] #725 closed

[2018-11-13 02:21] mbj commented on #760
Yes, best way to know is to simply execute your unit tests and shut down the DB while they run. You'll be amazed on how easy it is to sneak in DB IO from an rails environment.

In my projects I use a special AR connection adapter to make sure only the schema loads can be executed for tests where I want to be sure no DB IO happens. I consider to opensource that one.

[2018-11-13 02:22] mbj commented on #760
I suspect that at least on Mac you have set `-j1` or `--jobs 1`. As these days all macs have multiple logic cores. And mutant should detect the number of cores and in the absence of a `-j` or `--jobs` flag default to use a concurrent run.

[2018-11-13 02:24] mbj commented on #760
Why not make it the other way round and try to have your tests NOT leaking DB state? Before you told me that your tests do not touch the DB, so this is a bit contradictionary to me.

Maybe you should try to enforce that tests that are not supposed to touch the DB do not touch it. And only tests that touch it have the DB cleaner active?

Also try to minimize your code in `before :suite` as its run

[2018-11-13 02:32] #753 closed

[2018-11-13 14:52] Winbobob commented on #760
Thank you very much for your suggestion! I will try to optimize my unit tests!

[2018-11-16 16:52] snusnu opened #763 "Add mutation that removes a double splat from expressions"
Mutate `**expression` to `expression`.

[2018-11-16 17:12] mbj commented on #760
@Winbobob Can we close this?

[2018-11-18 22:01] matthias-g opened #765 "Document side effect of dynamic post boot insertion with alias_method shadowing"
In the following scenario, replacing the body of Child#one with `super` causes a SystemStackError when Child#one is being called. However mutant does not detect that this error kills the mutation that replaces the method's body with `super`. See https://github.com/matthias-g/mutant_super_bug for a running example.

[code]

[2018-11-19 01:42] Winbobob commented on #760
@mbj Sure. Thank you very much for your help! I appreciate it!

[2018-11-19 01:42] #760 closed

[2018-11-19 12:50] #92 closed

[2018-11-23 17:28] tjchambers opened #774 "Unmatched match expressions"
I am having difficulty with method match expressions. when I issue

[code]

my output log content looks correct:

[code]

Note the above "Matcher:` entry.

However when I issue the command:

[code]

I get a log without the matcher expression:

[code]

My rspec block looks correct to me:

[code]

The end result is if I drop the method off the matcher, then when I run all the specs for this class fo

[2018-11-23 21:35] mbj commented on #765
@matthias-g So this is a valid mutation. What happens if you edit in this mutation to your code base and run the exact test subset mutant would select for this mutation? (its printed in the alive mutation report).

As you reduced the example already, can you add rspec (or minitest) so I can run it by myself?

[2018-11-23 21:38] matthias-g commented on #765
It causes a SystemStackError. You can find and run the reduced code from https://github.com/matthias-g/mutant_super_bug

[2018-11-23 21:41] mbj commented on #765
@matthias-g Where does it cause the system stack error? When running mutant, so mutant terminates abnormally?

Or inside rspec, and why is rspec not exiting nonzero so the mutation comes back red?

Can you post a printout of your interaction with mutant that shows it?

[2018-11-23 21:44] mbj commented on #172
We do have a generic `method(foo)` to -> `foo` so we can mark this as closed.

[2018-11-23 21:44] #172 closed

[2018-11-23 21:45] mbj commented on #368
Lets close this for now as it was not reproduced in 3y.

[2018-11-23 21:45] #368 closed

[2018-11-23 21:54] matthias-g commented on #765
If you run the mutated code (`rspec mutated.rb`), you see the following output:
[code]

Mutant runs fine, but doesn't detect that the mutation should be killed:
[code]

[2018-11-23 22:07] mbj commented on #765
okay, I'll try by myself. Sorry to put you through this painful "get the report as I want it" process, but my time is so limited I have to force the reporters of issues (you) to do almost all the legwork.

[2018-11-23 22:37] mbj commented on #765
I'll reopen this issue, and change its title / tags a bit to remind me to put an explanation of the OSS insertion mechanism in the readme.

[2018-11-23 22:47] tjchambers commented on #774
@mbj to constrain the universe of specs.

[2018-11-23 23:06] mbj commented on #774
@tjchambers Mutant can constrain on its own, why you would need to do this externally? what do you gain (but using an unsupported feature?)?

[2018-11-24 01:06] tjchambers commented on #774
@mbj I am sorry but what does this have to do with this issue? Mutant does not constrain "on it's own" if it does not match a describe block. Unless it has magically changed. I will prove that for myself, but I see no relevance to this issue of not matching describe blocks.

[2018-11-24 01:07] mbj commented on #774
I need to understand your non standard use of mutant, and rule it out as source of the error. So does the correct spec get selected when you remove the rspec env variable?

[2018-11-24 01:11] tjchambers commented on #774
Command:

```RAILS_ENV=test bundle exec mutant -r./config/environment.rb --use rspec "AdSpot#<=>" 1> log/mutant/models/ad_spot.log```

Results (same):

[code]

[2018-11-24 01:13] tjchambers commented on #774
I will fork mutant and fix this issue myself as not matching match expressions is a serious impediment to the performance of mutant.

[2018-11-24 01:18] mbj commented on #774
your call. Do you mind to close the issue when you do not want to resolve it here?

[2018-11-24 01:18] #774 closed

[2018-11-28 22:30] mbj opened #783 "Allow to configure integration specific requires."
Currently mutant and minitest integration assume certain files to exist when pre-loading the tests.

On more advanced setups the tests will not be in standad locations for various reasons. Hence we should add something like `--require-integration` that allows to manually specify the test files to require.

Note: Tests are intentionally loaded AFTER the subject matching. This speeds up subject matc

[2018-11-29 16:44] snusnu opened #784 "Add mutation to remove procarg0 in block arguments"
Mutate

[code]

to

[code]

[2018-11-29 16:46] mbj commented on #784
Depends on: https://github.com/mbj/mutant/pull/785

[2018-12-06 02:08] pawelpacana opened #802 "Syntactically incorrect mutation for lambda"
I've been playing with mutant from master branch and found that beginning from `d0ff655cbf3f8d37eecb863f6959291e3b33638d` mutant would produce following mutation:

[code]

This is something incorrect in terms of syntax:

[code]

The code to reproduce is at https://github.com/pawelpacana/mutant-bug.

[2018-12-06 14:15] mbj commented on #802
@pawelpacana Thanks. Also note that mutant just merged a set of changes that will, with some other changes incoming, defend itself against emitting invalid syntax. The end goal is that only tests are allowed to kill mutations, no "other effects".

[2018-12-24 00:52] #802 closed

[2018-12-24 08:48] mvz opened #813 "Handle errors from regexp_parser?"
regexp_parser is a little more strict than MRI and raises an exception, e.g., on a regexp like `/u{/`. See https://github.com/ammar/regexp_parser/issues/59. I'm inclined to agree that regexp_parser should not allow cases that MRI's documentation forbids but MRI's parser accepts. Perhaps mutant should catch these exceptions and handle them appropriately?

[2018-12-24 09:11] mbj commented on #813
I agree. Mutant should simply skip over such regexp bodies and not emit mutations for them.

[2018-12-24 09:11] mbj commented on #813
And possibly warn. As mutant added more result states recently this should nicely integrate.

[2018-12-24 09:30] #724 closed

[2018-12-24 15:21] #621 closed

[2018-12-24 15:42] mbj opened #816 "Add warning on regexp bodies that are skipped due regexp_parser strictness"
See #813

[2018-12-24 15:53] #813 closed

[2018-12-24 15:53] mbj commented on #813
@mvz Thanks for the report. Mutant is now skipping such regexps silently, but in future we may get a warning.

Do you want me to cut a release now? I've buffered enough changes.

[2018-12-24 16:05] mbj commented on #743
@krowpu This was addressed via #818

[2018-12-24 16:05] #743 closed

[2018-12-24 16:17] mbj commented on #434
@nepalez This was fixed with mutant-0.8.21 but I forgot to close it (and add specs). The fix was a side effect to move to the modern parser AST format.

[2018-12-24 16:19] #434 closed

[2018-12-24 16:37] #396 closed

[2018-12-24 20:51] mvz commented on #813
Thanks @mbj. I'll leave the choice whether or not to cut a release up to you. I have changed the offending regexp in my code to include a backslash, so there's no urgency at the moment.

[2018-12-28 11:42] pawelpacana commented on #802
I'm experiencing this now on 0.8.23 release,  see https://circleci.com/gh/RailsEventStore/rails_event_store/7288

Here's one of the examples:
[code]

[2018-12-28 15:51] mbj commented on #802
@pawelpacana Seems that this specific fix is not in 0.8.23. Can you check master?

[2018-12-28 17:03] pawelpacana commented on #802
Oh, I did not notice the fix was outside 0.8.23 -- the timing of a release deceived me a bit. I'll check on master and let you know.

[2018-12-28 19:58] mbj commented on #802
@pawelpacana I also thought the fix is part of 0.8.23, but turns out that the commit was later (according to GH).

[2018-12-29 21:07] mbj commented on #802
@pawelpacana I just released mutant-0.8.24 from master. So your fix should be in.

[2018-12-30 21:11] mbj commented on #813
@mvz BTW rhe fix was released as 0.8.24.

[2018-12-31 15:07] pawelpacana commented on #802
@mbj thanks! checked on 0.8.24 and this one is definitely fixed

I might have found another problem though, would report as separate issue when reproduced.

[2018-12-31 15:08] mbj commented on #802
@pawelpacana I noticed increased crashes on 2.6.0, I suspect that we hit another MRI bug. See #830 where I finally make killfork log capture first class to ease debugging.

[2019-01-02 14:46] pawelpacana opened #837 "Syntactically incorrect mutation with block"
While [checking](https://circleci.com/gh/RailsEventStore/rails_event_store/7431?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) 0.8.24 release I've noticed following issue:

[code]

Reproduction: https://github.com/pawelpacana/mutant-bug-block/commit/e4f8b406df9a3e2e70483e457b863ea46a354890

[2019-01-02 14:47] mbj commented on #837
@pawelpacana I suspect this is another crash of MRI that now gets correctly detected and not counted as a kill.

When mutant is OSS again #830 will help to debug this.

[2019-01-02 14:53] pawelpacana commented on #837
For the record, when manually mutated:
[code]

this results in `SyntaxError`:
[code]

[2019-01-02 14:54] mbj commented on #837
Well than this is a bug in mutant. anyhow I do want to make sure that mutant is able to present you that log message on each of these mutations.

[2019-01-02 16:12] #837 closed

[2019-01-03 21:16] pawelpacana commented on #837
Thanks!

[2019-01-05 09:48] maximeg opened #841 "Ruby version target"
Like rubocop, it would be nice for mutant to support a Ruby version target.

Indeed, I run into a case:

`something =~ /something/` was mutated into `/something/.match?(something)` which is a good catch actually 👍. If we don't need the match global variable set, it is recommended to use `#match?`.

But the gem I run mutant on targets Ruby 2.3 to 2.6. And `#match?` does not exist for Ruby 2.3.

Thi

[2019-01-05 11:02] pawelpacana commented on #841
It has been stated that mutant does not support Ruby below version 2.5:
- https://github.com/mbj/mutant/blob/dcf6b8d562d11996b0249659e2cec12cf811ecef/Changelog.md#v0819-2018-11-06 and https://github.com/mbj/mutant/blob/dcf6b8d562d11996b0249659e2cec12cf811ecef/Changelog.md#v0822-2018-12-04

[2019-01-05 12:31] mbj commented on #841
Well. As mutant is NOT OSS anymore: So I do not have to optimize down maintenance, and instead want to grow the user base.

So this past statement is not really applicable anymore. So currently I'd argue, given the new setting mutant should support all ruby versions the latest rails release does support. Which is a good community baseline.

[2019-01-05 13:14] pawelpacana commented on #841
Btw. Ruby 2.3 is going EOL by the [end of March](https://www.ruby-lang.org/en/downloads/branches/) and (not yet released) Rails 6.0 is going to require Ruby 2.5 by the [end of April(https://weblog.rubyonrails.org/2018/12/20/timeline-for-the-release-of-Rails-6-0/)

[2019-01-05 13:16] mbj commented on #841
So I'd currently target whatever supported rails version exist at a given time.

A ruby version target support by mutant is overall desired.

[2019-01-11 08:56] mvz commented on #327
@mbj please reconsider adding a timeout option on the mutant side.

[2019-01-11 13:14] mvz commented on #327
Practically speaking, I would go for kills, since they would be test failures in CI.

[2019-01-11 14:52] mvz commented on #327
I'm trying to understand where you would report these in any case, since killed mutants are currently not reported at all?

[2019-01-11 14:54] mbj commented on #327
@mvz I'd simply start to add another "detected mutation result" state. And let the user (via a config file) decide on how the detected effect of the mutation (which will be one of: none, test failure, integration failure, external timeout) be handled. I'll likely also offer presets for those mappings.

I'd recommend to handle external timeouts as alives, but you could just map that state to killed

[2019-01-11 14:57] mvz commented on #327
@mbj ok, clear. That sounds like a good approach.

[2019-01-11 17:22] mbj commented on #327
So this is the default mapping as I imagine it in the future:

| Type | Detection | Result | Abort |
| ----- | ------- | ------- | ---- |
| Noop |  Tests passed | Dead | No |
| Noop | Tests failed | Alive | Yes |
| Noop | Isolation Error | Alive | Yes |
| Noop | Timeout | Alive | Yes |
| Evil | Tests passed | Alive | No |
| Evil | Tests failed | Dead | No |
| Evil | Isolation Error | Alive | No |

[2019-01-11 17:33] mvz commented on #327
Well, I would definitely count timeout as Dead, since I don't want to add a timeout to my own test suite myself (mainly for debugging reasons).

[2019-01-11 17:35] mbj commented on #327
This is an unsharp line, I'll write up why its a bad idea. And can let you do what you need.

[2019-01-18 18:39] Ixalion opened #870 "Current Licensing"
Given the new licensing situation, is this to be interpreted that after commit d5b97e8f73b6135426d20ae986295549d02ca4e7 is to be regarded as unavailable for usage to the general public? (The typical interpretation of "All Rights Reserved")

[2019-01-18 20:11] mbj commented on #870
Correct, as this point all commits I added after this commit make the project not available for use. All rights Reserved.

Feel free to use earlier releases or earlier repro state at the previous license terms, MIT.

I hope I can make mutant more accessible in the near future. But talking to all contributors individually (or removing their contributions) takes time.

[2019-01-19 14:03] tomdalling opened #871 "Mutations causing infinite recursion"
I have this method:

[code]

Mutant 0.8.24 introduced a mutation that turns `def_attr(name, *args)` into `def_attr(name, *self)`. The splat results in the `#to_a` method being called on `self`, which ends up in `#method_missing` again, causing infinite recursion.

This is the message that mutant outputs:

    Killfork exited nonzero. Its result (if any) was ignored:
    #<Process::Status: pid 8229

[2019-01-19 17:51] mbj commented on #871
@tomdalling Can you post the output again with adding 10 lines just above your quote? I need to know the type of the mutation (evil or neutral).

[2019-01-20 02:41] tomdalling commented on #871
I'm not 100% sure why, but I'm having trouble reproducing that specific error now (sorry, I know that's annoying).

I do have all the details for a related error that I was also seeing. It's still infinite recursion inside `#method_missing`.

- It's the latest version of mutant/mutant-rspec (0.8.24)
- [CI failure logs](https://travis-ci.org/tomdalling/value_semantics/jobs/481924831) (including `bu

[2019-01-20 11:33] mbj commented on #871
@tomdalling In master (which is unreleased, and will not untill I get the new license done) mutant should behave better, and print the stack trace for the inner failure. Currently your CI logs only show the outer failure of the master process detecting the killfork to exit nonzero.

I'm happy to come back to this issue once I have a new release from master. I'll re-open this issue to be reminded.

[2019-01-20 11:35] mbj commented on #870
Status update: I begun to collect signatures of the past contribotors, and for the ones I could not reach I removed almost all contirbutions.

Which means that I'll "soon" be able to release mutant again with a new license.

My intention is to keep mutant free to use for OSS projects, education and research. But charge a subscription fee for commercial use.

A blog post with the reasoning for this

[2019-01-20 16:02] Ixalion commented on #870
Awesome to hear that the project is indeed continuing, and that you are going to be keeping it free to use for education institutions.

Will look forward to seeing the post and when the conversion is complete.

[2019-01-20 23:15] mbj commented on #870
@Ixalion BTW what is your mutant use case?

[2019-01-21 19:04] Ixalion commented on #870
I have just been testing it out right now, but I am a developer for a large public university and am planning to add it to a few of the rails applications that I support.

[2019-01-21 19:06] mbj commented on #870
@Ixalion Cool. This would fall under a free subscription than.

Dealing with rails makes mutation testing a bit more "awkward" feel free to ask questions in the mutant slack channel when you hit odd behavior.

[2019-01-21 19:13] Ixalion commented on #870
I'll definitely pop in once I start working on it, trying to sign in to the slack requires a @blockscore.com email address, is this correct?

[2019-01-22 03:18] mbj commented on #870
Sorry I meant @dgollahon ^^

[2019-01-22 14:16] mbj commented on #870
Yeah, I had to prune the readme from lots of contributions of people I could not reach. I'll have to rebuild it.

I apprechiate you are sorting this out. Thanks.

[2019-02-07 21:35] tjchambers commented on #611
This no longer fails on version 0.8.25. Closing...

[2019-02-07 21:35] #611 closed

[2019-02-22 22:08] mbj opened #913 "Allow CLI and File config methods to set env variables"

[2019-03-08 01:00] #461 closed

[2019-03-08 11:27] mbj commented on #520
Support for the so called "framed reporter" was removed, as it had also other various shortcommings. This also removed the use of `tput`.

[2019-03-08 11:27] #520 closed

[2019-03-11 16:31] tjchambers opened #943 "EBADF bad file descriptor"
Using mutant git commit:   remote: https://github.com/mbj/mutant.git
  revision: 6d46f49bbd2fde97d2de274a1a053199e2ef8110

The pattern as I see it is a neutral failure is reported, then a EBADF bad file descriptor error on some file. Sometimes the file reported is a gem, sometimes a code file.

Note the error at top indicates `fptr_finalize_flush` and the error below indicates `io_fillbuf`.
[code]

[2019-03-12 09:33] mbj commented on #943
@tjchambers This smells like a bug in your database adapter. Which one are you using?

https://github.com/brianmario/mysql2/issues/547

[2019-03-12 15:54] tjchambers commented on #943
I am running the latest 0.5.2 version of mysql2 gem in -j1 configuration with a pool of 55.

I am running 2.5.3 of Ruby.

However there is an interesting comment here:

https://fossies.org/linux/ruby/ChangeLog

 3622 r66104 | normal | 2018-11-30 20:44:21 +0900 (Fri, 30 Nov 2018) | 6 lines
 3623
 3624 test/ruby/test_io.rb (test_recycled_fd_close): remove hacks
 3625
 3626 I think I finally fixed th

[2019-03-12 15:56] mbj commented on #943
@tjchambers As mutant forks per mutation, and if an underlying library does not handle FDs correctly in that event it indeed can yield the behavior you reported.

Can you reproduce this under 2.6.1?

[2019-03-12 15:58] tjchambers commented on #943
I do not know if I can run under 2.6.1 so I can only attempt that and see what happens. Unfortunately it may not be possible to bundle with 2.6.1. I will try WTP.

[2019-03-12 16:07] mbj commented on #943
@tjchambers An alternative is to ensure no DB fd is inherited into the fork.

You could kill all connections to the DB once the app is loaded. Each killfork would than reconnect on a fresh FD.

[2019-03-12 16:24] tjchambers commented on #943
tbh I do not know hardly anything about file descriptors. I am confused about the DB references in your comments above. I need to do more educational research.

[2019-03-12 16:26] mbj commented on #943
@tjchambers NP, I can TLDR what I want you to try:

To test my theory on how to workaround the issue without digging into FDs: Try to find a reference to the DB connection pool object, and instruct it to close all DB connections, after your app is fully loaded. Like in your spec helper.

This makes sure no DB connection is inherited into mutants environment, and each time a test of yours dos hit t

[2019-03-12 17:17] tjchambers commented on #943
I was able to try 2.6.1.

- Loaded 2.6.1 and rebundled. Without any other alterations reran a failing class. It failed worse - 2 bad file descriptors reported in the console and one in the log. In addition a `marshal data too short`.

The 2 errors indicated they were coming from bootsnap. And generally when I get the `marshal` error I clear out `/tmp/cache` - which btw had references to `bootsnap`

[2019-03-12 17:22] mbj commented on #943
@tjchambers When you have a spare cycle please also try the method of not inheriting an active DB connection pool. Thank you for spending so much of your time on the issue.

I think we are observing several classes of problems, likely related to the environment mutant creates.

[2019-03-12 17:26] tjchambers commented on #943
FWIW the class I have been using for testing does almost zero DB IO. it does 2 queries and then formats a graph and emails it. The email portion is stubbed. So that particular class - compared to many of mine - is on the far end of the "does not use DB" spectrum - it is readonly and does not alter the DB.

[2019-03-13 01:29] tjchambers commented on #943
I reran the failed specs on 2.6.1 and 19 of the failed classes resolved themselves - no neutral failures. 4 of the remaining have bad file descriptor errors -  2 of those with 1 error, and 2 with 4+. So it did not resolve all but did resolve most.

I am going to continue to research - I want to ensure they are reproducible and will give a try at changing the DB characteristics. The 4 that are stil

[2019-04-02 13:48] snusnu opened #946 "Print alive mutations while the tool is still running"
To decrease the time until we get valuable feedback, `mutant` should print alive mutations to the console while it is still running.

[2019-04-09 19:49] mbj opened #947 "Improve incremental documentation for latest findings on branch references"

[2019-05-06 15:32] timoschilling opened #957 "Feature request: license identifier"
currently the licenses url is something like this:
[code]
I would request somethiing like this:
[code]
That's makes it easier to deal with multiple licenses, explicit to divide your private and commercial license.

Maybe you can simply allow any string between `//` and `:`.

[2019-05-06 16:06] mbj commented on #957
It needs to parse as a valid URL. So `oss:$key` is viable.

I think I'll go for `oss:` and `com:` as these do not disclose the company / person who has the account, while still making the propose more identifiable.

[2019-05-08 10:06] mbj commented on #957
@timoschilling This was addressed via the latest mutant-manager deployment. The old format is still supported but to be considered deprectated.

Use `oss:` prefix (username) for opensource licenses, and `com:` for commercial licenses.

[2019-05-08 10:06] #957 closed

[2019-05-12 10:49] tomdalling opened #964 "Trouble setting up OSS license in gem"
I've added this to my Gemfile for [my gem](https://github.com/tomdalling/value_semantics):

[code]

And when I run `bundle install` I get this output:

[code]

These may or may not be helpful:

[code]

What am I doing wrong?

[2019-05-12 20:28] mbj commented on #964
I think you are doing nothing wrong, I only implemented the subset of API endpoints in my license gem server I could get rubygems / bundler to hit on my testing.

For some reason bundler, in your case decided to fetch the full source index:

[code]

This is an endpoint I do not yet support. Can you do me the favor and re-run the `bundle install` with the `--verbose` flag here? I do want to learn o

[2019-05-12 23:10] tomdalling commented on #964
Yep, sure. Here's the output: https://gist.github.com/tomdalling/fba3a33ed3ba56af3f6666cf5601fad4

[2019-05-13 08:25] mbj commented on #964
@tomdalling Can you check your network? In the gist I exclusively see errors from `net-http` like:

* Gem::RemoteFetcher::FetchError: Errno::ECONNREFUSED: Failed to open TCP connection to gem.mutant.dev:443 (Connection refused - connect(2) for "gem.mutant.dev" port 443)
* Bundler::HTTPError: Network error while fetching https://oss@gem.mutant.dev/versions (connection refused: gem.mutant.dev:80)

U

[2019-05-13 10:06] tomdalling commented on #964
Yeah, I can't access any `.dev` domains, so something is wrong on my end. Probably [pow](https://pow.cx) or something like that. I'll look into it. Thanks.

[2019-05-13 10:06] #964 closed

[2019-05-13 14:34] mbj commented on #964
`.dev` is now an official TLD, I recommend to follow this RFC for selecting a local TLD: https://tools.ietf.org/html/rfc6761

[2019-05-13 20:11] jaynetics opened #965 "Infinite recursion when mutating `raise` calls within `#to_s`"
mutant replaces the second argument to `raise` with `self`, leading to infinite recursion if that raise call is within `#to_s`, as raise tries to stringify that argument.

minimal repro:

[code]

this one raises `ArgumentError: marshal data too short`, but I've also seen `EOFError`.

there might be other cases where inserting `self` within `#to_s` causes problems.

[2019-05-13 20:25] mbj commented on #965
@jaynetics So the mutation itself is fine. Mutating to non terminating code is part of mutants job. Your test suite should detect these.

The problem is that mutant does not appear to handle the crash of the killfork correctly, and this is something to address.

thanks for the very short repro, this is something to work with!

[2019-05-13 20:27] mbj commented on #965
@jaynetics Are you on the latest release? This one has various problems with good termination detection, I've got fixes in master that are under the new license.

If you wanted to test on master, feel free to tell me a repo name, so I can give you an opensource license key.

[2019-05-13 23:14] tomdalling commented on #964
Pow already switched to using `.test` as the TLD a couple of years ago, so I'm not sure why it's still messing with the DNS resolver for `.dev` domains. I don't know if it's still being actively maintained.

[2019-05-14 09:07] mbj commented on #964
kk, eventually the pow devs will decide to change the default to a reasonable domain.

[2019-06-24 19:12] dkubb opened #966 "Bug in --since integration causes removed code lines to be used for subject selection"
In a commit with a removal of a method, the location of the removed code was used for subject selection. The method directly below had no coverage, and was selected, which caused the build to fail.

[2019-08-26 15:45] mbj opened #968 "Promote elsif cases"
Original (not desugared):

[code]

mutation:

[code]

[2019-08-31 17:40] drseg opened #969 "Suggestion: do not fail as evil if the mutation is between synonyms"
Currently, mutant will throw up an evil failure if tests do not fail even when the mutation is from one synonym to another. For example, no reasonable test should fail if `array[0]` was mutated to `array.at(0)`, as these are identical statements, yet mutant will fail this as an evil.

I do not know if mutant has some handling of synonyms in general, but from this example, it is not yet complete. P

[2019-09-02 22:30] mbj commented on #969
@drseg There is a semantic difference between:

* `Array#[]`
* `Array#at`

The latter is a strict subset of the former in terms of semantics. `#[]` accepts more input.

Mutants mutation operators fall into 2 classes:

* Semantic reduction
* Orthogonal replacement.

`#[]` -> `#at` is a semantic reduction, as `#[]` accepts more input than `#at`. Unless you have a test case that shows the unique to `

[2019-09-02 22:30] #969 closed

[2019-09-02 22:33] mbj commented on #969
OT: Another way to understand that `#at` and `#[]` are not synonyms is to look at the parse tree:

[code]

This AST is different, and when the AST is different there is a semantic difference. The ASTs primary propose is to be condensed semantics.

Now lets look at a true synonym:

[code]

Mutant will never force you to turn an `&&` to an `and` (or vice versa) as it would never report such a mutati

[2019-09-03 18:26] gogiel opened #970 "Unexpected block mutations with parser gem version 2.6.4.0"
[code]

is parsed as
[code]

which causes unexpected mutation.

Steps to reproduce in this repo:
1. Bump parser gem version from `2.6.3` to `2.6.4`
2. Run `rspec './spec/unit/mutant/mutator/node_spec.rb[5:1]'`

Version 2.6.3:
[code]

Version 2.6.4:
[code]

[2019-09-19 20:32] dkubb opened #971 "Add --skip-subject and --pending-subject flags"
A feature request I have would be to add two flags to the mutant cli:

* `--skip-subject`
* `--pending-subject`

The `--skip-subject` flag should perform exactly the same as `--ignore-subject`, where it doesn't bother to mutate the subject nor run the subject's tests. This would be reserved for methods where attempting to mutate will cause an infinite loop and never finish.

The `--pending-subject

[2019-09-19 23:42] mbj commented on #971
I like this idea. The existing infrastructure should be able to support this.

[2019-09-27 11:57] drseg commented on #969
If I understand you correctly, you are saying that mutant would reduce `#[]` to` #at`, but would never try to do the opposite, i.e. substituting `#[]` for `#at`?

In that case, all is clear. Many thanks for the wonderful tool.

[2019-09-27 12:27] mbj commented on #969
Correct. Mutant only performs semantic reductions.

Thank you for the kind words.

Feel free to show up at our mutation testing slack channel for more discussions. Or open more issues. I like the chance to explain mutants concepts.

[2019-10-26 19:47] tit commented on #400
+1, please add contract support for mutant.
My project use gem contract on 100%? and I can use mutant-rspec for testing my test...

[2019-10-26 22:07] mbj commented on #400
@tit I'd be happy to review a PR. Assuming the author of such a hypothetical PR would sign my CLA.

But its unlikely to happen on my time at this point.

[2019-11-11 08:37] szalansky opened #976 "Neutral mutation failing - only on CI"
Hey @mbj, I asked you a question about this on twitter previously but failed to debug it myself.

I'm experiencing a mismatch in the results between local machine and CI, and unfortunately I'm getting failures in the latter. The failure is about neutral mutation:

[code]

Local setup:
* MacOS 10.14.6 w/ Ruby 2.5.3 -> pass
* Docker (minideb/stretch-based w/ Ruby 2.5.3) -> pass

CI setup:
* Exactly

[2019-11-11 13:53] mbj commented on #976
@szalansky Can you please post the test output, printed below the neutral error?

[2019-11-13 10:32] szalansky commented on #976
@mbj sure thing, sorry about that!

[code]

That's all I have. I get a success when running the tests using rspec.

[2020-01-02 22:27] #970 closed

[2020-01-29 14:15] nikitasakov opened #992 "Unable to install with rubocop 0.79.0"
Hello 👋

Rubocop `0.79.0` requires parser `>= 2.7.0.1`, but mutant requires `~> 2.6.5`. So looks like it is vital to upgrade parser for mutant. 🙂

[code]

Thanks.

[2020-01-29 14:17] mbj commented on #992
Correct. It mostly depends on https://github.com/mbj/unparser/issues/129

[2020-02-02 22:14] #992 closed

[2020-02-02 23:34] mbj commented on #992
@nikitasakov The fix was released with mutant 0.9.5.

Note that mutant at this point does not support 2.7 syntax.

[2020-03-27 21:55] mbj opened #996 "License gem fails with bundler / bootsnap on auto require"
Both tools seem to assume that a gem named `foo` provides a `require 'foo'` require-entrypoint.

But the license gem does not provide that one. Adding an empty `mutant-license.rb` file will fix it.

[2020-03-29 13:51] Haelle opened #997 "Add option for specs file pattern"
It would be nice to be able to run mutant against a bunch of specs instead of one "deducted" file.

For instance:`bundle exec mutant --use rspec --specs **/*foo*_spec.rb Foo`
Would run "all" specs regarding Foo.

#### Why ?
My specs file are unit tests, and e2e tests are in another folder and so mutant detect many mutants that would be killed by e2e specs !

wdyt ?

[2020-03-30 01:08] mbj commented on #997
@Haelle Mutant does not "deduct files". It runs the mutations against a test of tests selected from rspec metadata or minitest annotations.

What you want is explicit annotation of mutation subjects to tests. Or you want to configure the metadata so that mutants discovery picks up the right tests?

[2020-03-30 05:26] Haelle commented on #997
I think explicit annotations to either add or replace all spec perimeter.

For a one shot mutation testing adding a dedicated metadata (like `mutant: true` or `mutant_spec: true`) would be ideal, like the `focus` option of RSpec

But for regular mutation testing something like `mutant_subjects: [Foo, Bar]` would be better but would pollute the specs...

I'm more interested in the first solution cu

[2020-04-07 22:01] dgollahon opened #998 "Add support for --ignore-subject expressions in the mutant config file"
For projects with multiple subjects that they choose to ignore, it would be helpful to make these part of the mutant config file, rather than having to continue chaining `--ignore-subject` flags.

[2020-04-07 22:09] dgollahon opened #999 "Add support for inline --ignore-subject expressions"
While #998 would be a clear improvement over only CLI flag support, I would strongly prefer having the ability to apply inline mutation disables. This helps future readers of the code know to operate with care when they edit a region of code that is not mutation tested and it additionally makes it much easier to keep ignore subjects in sync (for instance, if a subject is renamed or removed) when t

[2020-04-07 22:25] mbj commented on #999
I agree to this feature.

But I'd amend it with the following:

[code]
I like the `skip` terminology more as `ignore` could also be read as "ignore uncovered mutations". Skip implies to actually skip over the subject.

[2020-04-07 22:29] dgollahon commented on #999
@mbj I completely agree with you. I almost referenced that idea, but saw that #971 already covered the principle and thought it would be simpler to scope the issue to feature parity with the CLI interface until #971 is implemented.

[2020-04-07 22:30] mbj commented on #999
@dgollahon Yeah, I'm fine to track them separately at this point.

[2020-04-14 15:01] telyn opened #1001 "Integration test failing for rubyspec"
I see the following error when running the integration tests on my PR #1000 . I've run them locally using the master branch and also see them, so it's not specific to my branch.

[code]

[2020-04-14 15:02] mbj commented on #1001
This is standard rusting from rubyspec. Typically we add excludes in `spec/integrations.yml`. These are files rubyspec has `parser` does not support in the configuration we use it.

[2020-04-14 15:03] mbj commented on #1001
Feel free to separately PR a fix. And yes I know your CLA is pending. Trying to catch up with my work.

[2020-04-15 16:04] mbj commented on #996
Closing this as the license gem server now serves an empty `mutant-license.rb` that can be required by the se overeager tools.

[2020-04-15 16:04] #996 closed

[2020-07-30 23:13] kleber-gueriero opened #1007 "Error "Invalid type registration: :def_e" while usign mutant w/ rails application"
While trying to run the rspec(not even calling the mutant command), like `$ rspec ./spec`, it raises an error:
[code]

Ruby version: ruby 2.7.1p83(but also tested w/ 2.6.3, before it)
gem 'rails', '~> 5.2.3'
Using the open-source version of mutant

[2020-07-31 01:06] mbj commented on #1007
@kleber-gueriero I'm surprised that mutant gets loaded in this scenario. Must be "bootsnap beeing helpful".

Can you tell me the exact mutant version you are using? Must be one of the latest.

Overall there are 2 possible issues:

* Bootsnap tries to load mutant when its not supposed to, this could be under your control in your Gemfile etc.
* Mutant registers a mutator for the `def_e` node to its

[2020-07-31 01:14] mbj commented on #1007
LOL yes you are on latest, the path tell me. So its likely that I need to be more conservative when checking the node registrations against the parser types. And allow mismatches if I support more than one minor release of parser.

[2020-07-31 01:26] mbj commented on #1007
@kleber-gueriero Okay so can you:

* post your `Gemfie` section around mutant?
* post your parser version?

[2020-07-31 11:51] kleber-gueriero commented on #1007
@mbj The Gemfile.lock part around mutant, w/ parser version:

[code]

[2020-08-02 19:55] #1007 closed

[2020-08-02 19:56] mbj commented on #1007
@kleber-gueriero can you check with master? The problem mutant fails to load itself in your bundle should be gone.

I cannot really help with the bootsnap issue, where bootsnap too eagerly loads mutant while you just intend to run rspec. For that one I really need to be pointed to the git repository.

[2020-08-02 21:35] mbj opened #1011 "Provide better error message when `--since` cannot find the reference"
Locally `--since` usually works fine as developers have a full checkout of their git repository. But on CI things are different.

Most CI systems use a fetch depth of 1 these days (so only the last commit) which does not allow tun resolve expressions like `HEAD~1` or branches.

Mutant can detect this cases on a CI and explicitly tell the user what to do. Which is in many cases adding more commits

[2020-08-02 21:54] mbj commented on #1001
@telyn As you've updated the references in your PR I'll close this issue.

[2020-08-02 21:54] #1001 closed

[2020-08-02 22:32] mbj commented on #1007
@kleber-gueriero can you try the just released version 0.9.8 and tell me if mutant now loads correctly in your environment?

[2020-08-17 09:13] tomdalling commented on #965
I can confirm that this is still happening for me. My `Gemfile.lock` versions are:

    mutant (0.9.8)
    mutant-license (0.1.0)
    mutant-rspec (0.9.5)

[2020-08-17 12:53] mbj commented on #965
@tomdalling Can you post the output?

[2020-08-18 00:19] tomdalling commented on #965
Here's a gist with the output from the minimal repro above, and also the output of the error that I ran into myself: https://gist.github.com/tomdalling/3f1fc7b2b20c6035023b063e882b3dcc

[2020-08-18 00:59] mbj commented on #965
@tomdalling Hah thats an interesting one! Let me elaborate. The bug is in rspec ;) but to explain why I need to draw a bigger circle:

Mutant on inserting mutations, want to measure the effect of the mutation via the report provided by the test framework (in your case rspec). The report by the test framework, that may have indicated that a test failed, will than determine if the mutation is covere

[2020-08-18 01:02] tomdalling commented on #965
Thanks for the detailed explanation! I'll report it to RSpec and see what happens.

[2020-08-18 01:03] mbj commented on #965
Heh, I need to turn that explanation into a blog post: "why your mutation testing engine needs noop mutations and integration error separation". I saw code bases from 100% coverage go to 50% after adding these features to the engine.

[2020-08-18 10:26] xdvrx1 opened #1017 "Create a Website for this Repo"
Hi there.

Is there a website for this repo?

Because if you don't have, well, this repo can simply be turned into a website right away. Others will discover this project in that website.

Steps:
1. Go to Settings and look for `GitHub Pages`, scroll down. That's almost at the bottom.

2. You will see there: `Branch:none`, so you should change that to `master` because you have a `README.md` file in

[2020-08-18 17:00] mbj commented on #1017
@xdvrx1 I'm well aware of this feature, and I had the website online for a longer time, BUT: What would doing this get me?

Just another thing to maintain, the information conveyable to another person stays the same.

[2020-08-19 00:38] xdvrx1 commented on #1017
Nope, when you edit your `README.md`, that's also editing your page. The good thing  is that you have your full-pledged website.

Anyways, I am just suggesting. You can ignore and close this issue anytime.

[2020-08-19 01:25] mbj commented on #1017
Thats what I say with duplication. Why should I want "another place" for the readme? Maybe lets re-parse the question:

* What is the benefit of having a full-pledged website for mutant that *just* renders the README people could also read under `https://github.com/mbj/mutant` ?

Unless that website would add some information, I do not see why I should add it. I'm open for your thoughts here.

[2020-08-19 03:45] xdvrx1 commented on #1017
Using the `github.io` domain, in the case of GitHub Pages, or your own domain, will add another location on the web, so that your projects will be discovered not only in GitHub, but elsewhere. Take note, `github.com` is different from `github.io`. Sometimes your project will be discovered from `github.io` not in `github.com`.

So, that adds the visibility of your project only in `github.com` but e

[2020-08-19 12:53] mbj commented on #1017
I'm not sure if adding duplicate content to another location in the web that just renders my `README.md` is a win at this point.

Once I've more content, I'd consider it. Still as mutant is commercial software and I also need an automated web based sign up that would very likely be hosted outside of github pages.

I'll close this issue for the moment as I do not think its actionable for me in the

[2020-08-19 12:53] #1017 closed

[2020-08-24 14:43] mbj commented on #258
This was ultimatively addressed in #1009, as a version of #1000. Big thanks for @telyn for the hard work.

Released in mutant-0.9.9.

[2020-08-24 14:43] #258 closed

[2020-08-24 15:03] #639 closed

[2020-08-24 17:41] dgollahon opened #1026 "Endless ranges crash mutant"
Simple reproduction case I tried:

[code]

Reproduction spec:

[code]

Executing `mutant --use rspec Test` produces a long trace ending in

/Users/gollahon/.rvm/gems/ruby-2.6.6/gems/mutant-0.9.9/lib/mutant/mutator.rb:18:in `mutate': undefined method `type' for nil:NilClass (NoMethodError)

Versions
`mutant-rspec` version: 0.9.9
`unparser` version: 0.4.7

[2020-08-24 19:07] mbj commented on #1026
@dgollahon thanks for the report. This indicates I need to find more code bases to hook up to mutants self test in generation only mode to assert syntax coverage.

I think I should also hook up all code snippets from `parser` to mutants generator test suite.

[2020-08-24 19:18] dgollahon commented on #1026
Yeah, I think that would be a great idea.

[2020-08-24 19:21] chaubunhtha commented on #1026
.md

[2020-08-24 19:32] mbj commented on #1026
@chaubunhtha you are good? Seems you post random one word comments to this repository for no reason.

Unless you start to explain yourself, I've to block you assuming you are just here to spam.

[2020-08-24 22:48] mbj commented on #965
@tomdalling BTW this is a "classic" case on mutant finding an imperfection in the general Ruby toolchain. And the core reason we have more than "covered" and "alive", but also "integration error" in mutant.

I see traffic over at the rspec ticket you made, thanks for getting it fixed upstream.

[2020-08-25 00:44] #1026 closed

[2020-08-25 03:03] mbj commented on #1026
@dgollahon fix for this issue was released in 0.9.10.

[2020-08-25 03:08] mbj commented on #870
@Ixalion I think this can be closed for the moment. The README explains the situation quite clearly and I have lots of active (free) opensource licenses handed out so far.

[2020-08-25 03:08] #870 closed

[2020-08-25 03:10] mbj commented on #871
@tomdalling do you have a payload that can reproduce this? I think that this rspec output:

[code]

Indicates that I should improve the rspec integration and also count a mutation as covered when there si `1 error outside of examples` as this state indicates rspec "exits with failure".

[2020-08-25 04:40] dgollahon commented on #1026
@mbj, thanks!

[2020-08-25 05:57] tomdalling commented on #871
Here's a minimal working example of what I'm seeing in the latest mutant version: https://gist.github.com/tomdalling/77caec35aeb92e9cfd5e4f7705698c07

[2020-08-25 06:00] tomdalling commented on #965
👍  I found another RSpec issue yesterday too, thanks to mutant.

[2020-08-25 06:56] dgollahon opened #1035 "Endless range mutation cycles"
Since endless ranges no longer crash mutant (as reported in #1026), I have tried switching several parts of my codebase to use endless ranges. Unfortunately, mutant mutates `some_array[1..]` to `some_array[1...]`. If I switch to the latter it mutates it back in the reverse direction. If you run the example from #1026, you will see this occur. It is my understanding that `1..` and `1...` generally

[2020-08-25 12:11] mbj commented on #1035
To be fixed in #1027.

[2020-08-25 12:23] mbj commented on #1035
This was fixed in#1036 and released as 0.9.11.

[2020-08-25 12:23] #1035 closed

[2020-08-25 12:25] mbj commented on #1035
OT: in theory there is an observable difference:

[code]

But thats not really something to assert from specs. Hence inclusive vs exclusive on endless range is a style issue, outside of mutants semantic scope.

So its correct to remove the mutation.

[2020-08-26 04:55] dgollahon commented on #968
@mbj This already happens in master--I verified with by locally adding a your testcase to the meta and checking that the output is included. I can add additional test coverage if you want, but I'm pretty sure this happens naturally (or was specifically added at some point) and this issue can be closed.

[2020-08-26 18:34] #732 closed

[2020-08-31 20:07] mbj opened #1046 "Improve rubygems.org dummy message to recommend `bundle update mutant-license`."

[2020-09-08 21:43] dgollahon commented on #714
@mbj Can this be closed in light of #731 / the current state of [the](https://github.com/mbj/mutant/blob/master/docs/mutant-rspec.md) [docs](https://github.com/mbj/mutant/blob/master/docs/mutant-minitest.md) or would you like me to add to the README mentioning an explicit requirement of using `bundle exec`?

[2020-09-09 00:15] mbj commented on #714
@dgollahon I think that the mention of `bundle exec` is sufficient in the current integration docs.

Closing this. Good catch. Thanks.